.sy-theme {
  /* BORDER-RADIUS */
  --border-radius-small: 2px;
  --border-radius-small-rem: 0.125rem;
  --border-radius-medium: 3px;
  --border-radius-medium-rem: 0.1875rem;
  --border-radius-none: 0px;
  --border-radius-none-rem: 0rem;
  --border-radius-large: 8px;
  --border-radius-large-rem: 0.5rem;
  --border-radius-full: 9999px;
  --border-radius-full-rem: 624.9375rem;
}