.sy-theme {
  /* SPACING */
  --spacing-4xsmall: 2px;
  --spacing-4xsmall-rem: 0.125rem;
  --spacing-3xsmall: 4px;
  --spacing-3xsmall-rem: 0.25rem;
  --spacing-2xsmall: 6px;
  --spacing-2xsmall-rem: 0.4rem;
  --spacing-xsmall: 8px;
  --spacing-xsmall-rem: 0.5rem;
  --spacing-small: 12px;
  --spacing-small-rem: 0.75rem;
  --spacing-medium: 16px;
  --spacing-medium-rem: 1rem;
  --spacing-large: 20px;
  --spacing-large-rem: 1.25rem;
  --spacing-xlarge: 28px;
  --spacing-xlarge-rem: 1.75rem;
  --spacing-2xlarge: 36px;
  --spacing-2xlarge-rem: 2.25rem;
  --spacing-3xlarge: 48px;
  --spacing-3xlarge-rem: 3rem;
  --spacing-4xlarge: 72px;
  --spacing-4xlarge-rem: 4.5rem;
}