@use "../../assets/style/global/font" as font;

:host {
    display: block;
    position: relative;
    overflow: hidden;
    width: -webkit-fill-available;
    width: 100%;
    position: relative;

    .error-container {
        display: none;
        width: 100%;
        margin-top: var(--spacing-3xsmall);
        box-sizing: border-box;
        color: var(--required);
    }

    /* 에러가 popup형태인 경우 오버레이 스타일 - 위치 조정 */
    .popup-error-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 0;
        z-index: 1;
        pointer-events: none;
    }

    .error-message {
        display: block;
        width: 100%;
        height: 100%;

    }

    /* 슬롯 내용물이 이벤트를 받을 수 있도록 */
    .error-message::slotted(*) {
        display: block;
        width: 100%;
        height: 100%;
    }


    .visible-error {
        display: block;
    }
}

:host(sy-select[clearable]) {
    .remove {
        display: none;

        &:active {
            color: var(--select-clearable-border-enabled);
        }
    }

    .select-container:hover {
        .remove {
            display: inline-flex;
        }
    }
}

:host(sy-select) {
    .status-error {
        border: var(--border-small) var(--select-form-border-error);
    }
}

:host(sy-select[readonly]) .select-container {
    border: var(--border-small) var(--select-form-border-readonly);
    background-color: var(--select-form-background-readonly);
    position: relative;
    cursor: auto;

    input {
        cursor: auto;
    }
}

.select-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px;
    border: var(--border-small) var(--select-form-border-enabled);
    border-radius: var(--border-radius-medium);
    gap: var(--spacing-3xsmall);
    box-sizing: border-box;
    background-color: var(--select-form-background-enabled);
    cursor: var(--cursor-button);

    input {
        color: var(--select-form-text-enabled);
    }

    input::placeholder {
        color: var(--select-form-text-placeholder);
    }

    &.size-medium {
        height: var(--component-medium);
        padding: 0 var(--spacing-xsmall);

        input {
            @include font.text-style-base-regular;
            height: var(--component-small);
        }
    }

    &.size-large {
        height: var(--component-large);
        padding: 0 var(--spacing-xsmall);

        input {
            @include font.text-style-large-regular;
            height: var(--component-medium);
        }
    }

    &.size-small {
        height: var(--component-small);
        padding: 0 var(--spacing-xsmall);
        border-radius: var(--border-radius-small);

        input {
            @include font.text-style-small-regular;
            height: var(--component-xsmall);
        }
    }

    &:hover {
        border: var(--border-small) var(--select-form-border-hover);
        background-color: var(--select-form-background-hover);

        sy-icon.angle-down {
            color: var(--select-form-icon-hover);
        }
    }

    &.disabled {
        border: var(--border-small) var(--select-form-border-disabled);
        background-color: var(--select-form-background-disabled);

        sy-tag {
            color: var(--select-form-text-disabled);
        }

        cursor:auto;

        input {
            color: var(--select-form-text-disabled);
            cursor: auto !important;
        }

        input::placeholder {
            color: var(--select-form-text-placeholder);
        }

        &:hover {
            .remove {
                display: none !important;
            }
        }
    }

    &.status-invalid {
        border: 1px solid var(--select-form-border-error);
    }

    .tag-group {
        display: flex;
        gap: var(--spacing-3xsmall);
        overflow: hidden;
        align-items: center;
        flex: 1;
        width: min-content;

        .select-inner {
            color: var(--select-form-text-placeholder);
        }

        input {
            background-color: transparent;
            border: var(--border-small) transparent;
            padding: 0px;
            cursor: pointer;
            width: 100%;
            flex: 1;

            &:focus {
                border: var(--border-small) transparent;
                outline: var(--border-small) transparent;
            }
        }
    }

    .remove {
        cursor: pointer;
        position: absolute;
        right: 7px;
        z-index: 1;
        background: var(--background-default);
        color: var(--select-clearable-border-enabled);

        &:hover {
            color: var(--select-clearable-icon-hover);
        }

        &:active {
            color: var(--select-clearable-icon-active);
        }
    }

    sy-icon.angle-down {
        color: var(--select-form-icon-enabled);
    }
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.show {
    visibility: visible;
    max-height: 200px;
}

.hidden {
    visibility: hidden;
}


slot {
    display: flex;
    flex-direction: column;
}

::slotted(sy-option) {
    cursor: var(--cursor-button);
}

::slotted(sy-option:hover) {
    color: var(--select-form-text-hover);
    background-color: var(--select-form-background-hover);
}

:host(sy-select[mode="multiple"]) input {
    width: 10px;
}