
    /* Autocomplete Input */
    :host {
        display: none;
        position: absolute;
        /* 부모 요소를 기준으로 위치 조정 */
        background-color: var(--popover-background-enabled);
        color: var(--popover-text-enabled);
        box-shadow: var(--box-shadow);
        padding: var(--spacing-xsmall);
        z-index: var(--z-index-popover);
        border-radius: var(--border-radius-medium);

        .arrow {
            box-shadow: var(--box-shadow);
        }
    }

    :host(sy-popover) {
        z-index: var(--z-index-popover);
        background-color: var(--popover-background-enabled);
    }

    :host(sy-popover.arrow) {
        z-index: var(--z-index-popover);
        box-shadow: var(--box-shadow);
        background-color: var(--popover-background-enabled);
    }

    :host([open]) {
        display: block;
    }