    @use "../../assets/style/global/font" as font;

    :root,
    :host {
      display: inline-flex; /* inline-block에서 inline-flex로 변경 */
      align-items: center; /* 세로 중앙 정렬을 위한 속성 추가 */
    }

    .label {
      font-family: var(--sy-font-family, sans-serif);
      font-size: var(--sy-font-size-base, 14px);
      display: inline-flex;
      align-items: center;
      height: 100%; /* 부모 높이에 맞춤 */
    }
    .label-title{
      display: flex;
      height: 100%;
      padding-right:4px;
      align-items: center;
    }
    .label-content{
      display: flex;
      height: 100%;
    }

    .required-mark-left {
      color: var(--text-error);
      margin-right: var(--spacing-4xsmall);
    }
    .required-mark-right {
      color: var(--text-error);
      margin-left: var(--spacing-4xsmall);
    }

    .align-left {
      text-align: left;
      justify-content: start;
    }

    .align-right {
      text-align: right;
      justify-content: end;
    }

    .align-center {
      text-align: center;
    }
