.sy-theme{
    --banner-closeable-icon-enabled: var(--icon-subtler);
    --banner-closeable-icon-hover: var(--icon-bold);
    --banner-error-background-enabled: var(--background-extended-red-default);
    --banner-error-border-enabled: var(--border-extended-red-default);
    --banner-error-icon-enabled: var(--icon-extended-red-bold);
    --banner-error-text-enabled: var(--text-bold);
    --banner-informational-background-enabled: var(--background-extended-blue-default);
    --banner-informational-border-enabled: var(--border-extended-blue-default);
    --banner-informational-icon-enabled: var(--icon-extended-blue-bold);
    --banner-informational-text-enabled: var(--text-bold);
    --banner-neutral-background-enabled: var(--background-extended-darkgray-default);
    --banner-neutral-border-enabled: var(--border-extended-darkgray-default);
    --banner-neutral-icon-enabled: var(--icon-extended-darkgray-bold);
    --banner-neutral-text-enabled: var(--text-bold);
    --banner-success-background-enabled: var(--background-extended-green-default);
    --banner-success-border-enabled: var(--border-extended-green-default);
    --banner-success-icon-enabled: var(--icon-extended-green-bold);
    --banner-success-text-enabled: var(--text-bold);
    --banner-warning-background-enabled: var(--background-extended-yellow-default);
    --banner-warning-border-enabled: var(--border-extended-yellow-default);
    --banner-warning-icon-enabled: var(--icon-extended-yellow-bold);
    --banner-warning-text-enabled: var(--text-bold);
}
