.sy-theme{
    --button-borderless-focusoutline: var(--border-brand-bold);
    --button-borderless-background-active: var(--background-brand-default);
    --button-borderless-background-focus: var(--background-bold);
    --button-borderless-background-hover: var(--background-bold);
    --button-borderless-border-focus: var(--border-brand-bold);
    --button-borderless-icon-active: var(--icon-brand-default);
    --button-borderless-icon-disabled: var(--icon-subtlest);
    --button-borderless-icon-enabled: var(--icon-default);
    --button-borderless-icon-focus: var(--icon-brand-subtle);
    --button-borderless-icon-hover: var(--icon-brand-subtle);
    --button-borderless-text-active: var(--text-brand-default);
    --button-borderless-text-disabled: var(--text-subtlest);
    --button-borderless-text-enabled: var(--text-default);
    --button-borderless-text-focus: var(--text-brand-subtle);
    --button-borderless-text-hover: var(--text-brand-subtle);
    --button-default-focusoutline: var(--border-brand-bold);
    --button-default-background-active: var(--background-default);
    --button-default-background-disabled: var(--background-subtlest);
    --button-default-background-enabled: var(--background-default);
    --button-default-background-focus: var(--background-default);
    --button-default-background-hover: var(--background-default);
    --button-default-border-active: var(--border-brand-bold);
    --button-default-border-disabled: var(--border-subtlest);
    --button-default-border-enabled: var(--border-default);
    --button-default-border-focus: var(--border-brand-bold);
    --button-default-border-hover: var(--border-brand-subtle);
    --button-default-icon-active: var(--icon-brand-bold);
    --button-default-icon-disabled: var(--icon-subtlest);
    --button-default-icon-enabled: var(--icon-default);
    --button-default-icon-focus: var(--icon-brand-subtle);
    --button-default-icon-hover: var(--icon-brand-subtle);
    --button-default-text-active: var(--text-brand-bold);
    --button-default-text-disabled: var(--text-subtlest);
    --button-default-text-enabled: var(--text-default);
    --button-default-text-focus: var(--text-brand-subtle);
    --button-default-text-hover: var(--text-brand-subtle);
    --button-primary-focusoutline: var(--border-brand-bold);
    --button-primary-background-active: var(--background-brand-contrast-bold);
    --button-primary-background-disabled: var(--background-subtlest);
    --button-primary-background-enabled: var(--background-brand-contrast-default);
    --button-primary-background-focus: var(--background-brand-contrast-subtle);
    --button-primary-background-hover: var(--background-brand-contrast-subtle);
    --button-primary-border-active: var(--border-brand-subtle);
    --button-primary-border-disabled: var(--border-subtlest);
    --button-primary-border-enabled: var(--border-brand-subtle);
    --button-primary-border-focus: var(--border-brand-bold);
    --button-primary-border-hover:  var(--border-brand-subtle);
    --button-primary-icon-active: var(--icon-invert);
    --button-primary-icon-disabled: var(--icon-subtlest);
    --button-primary-icon-enabled: var(--icon-invert);
    --button-primary-icon-focus: var(--icon-invert);
    --button-primary-icon-hover: var(--icon-invert);
    --button-primary-text-active: var(--text-invert);
    --button-primary-text-disabled: var(--text-subtlest);
    --button-primary-text-enabled: var(--text-invert);
    --button-primary-text-focus: var(--text-invert);
    --button-primary-text-hover: var(--text-invert);
    --button-secondary-focus-outline: var(--border-brand-bold);
    --button-secondary-background-active: var(--background-brand-default);
    --button-secondary-background-disabled: var(--background-subtlest);
    --button-secondary-background-enabled: var(--background-brand-default);
    --button-secondary-background-focus: var(--background-brand-default);
    --button-secondary-background-hover: var(--background-brand-default);
    --button-secondary-border-active: var(--border-brand-bold);
    --button-secondary-border-disabled: var(--border-subtlest);
    --button-secondary-border-enabled: var(--border-brand-subtlest);
    --button-secondary-border-focus: var(--border-brand-bold);
    --button-secondary-border-hover: var(--border-brand-subtle);
    --button-secondary-icon-active: var(--icon-brand-bold);
    --button-secondary-icon-disabled: var(--icon-subtlest);
    --button-secondary-icon-enabled: var(--icon-brand-default);
    --button-secondary-icon-focus: var(--icon-brand-subtle);
    --button-secondary-icon-hover: var(--icon-brand-subtle);
    --button-secondary-text-active: var(--text-brand-bold);
    --button-secondary-text-disabled: var(--text-subtlest);
    --button-secondary-text-enabled: var(--text-brand-default);
    --button-secondary-text-focus: var(--text-brand-subtle);
    --button-secondary-text-hover: var(--text-brand-subtle);
}
