.sy-theme{
    --buttongroup-default-border-enabled: var(--border-default);
    --buttongroup-primary-border-enabled: var(--border-brand-default);
    --buttongroup-secondary-border-enabled: var(--border-brand-subtlest);
}
