.sy-theme{
  --date-time-picker-focusoutline: var(--border-brand-bold);
  --date-time-picker-calendar-container-body-background-enabled: var(--background-default);
  --date-time-picker-calendar-container-body-border-enabled: var(--border-subtlest);
  --date-time-picker-calendar-container-body-border-selected: var(--border-extended-purple-default);
  --date-time-picker-calendar-container-body-text-disabled: var(--text-subtlest);
  --date-time-picker-calendar-container-body-text-enabled: var(--text-default);
  --date-time-picker-calendar-container-footer-background-enabled: var(--background-default);
  --date-time-picker-calendar-container-footer-border-enabled: var(--border-subtlest);
  --date-time-picker-calendar-container-header-background-enabled: var(--background-default);
  --date-time-picker-calendar-container-header-icon-enabled: var(--icon-subtler);
  --date-time-picker-calendar-container-header-icon-hover: var(--icon-default);
  --date-time-picker-calendar-container-header-text-enabled: var(--text-default);
  --date-time-picker-calendar-container-header-text-hover: var(--text-brand-subtle);
  --date-time-picker-calendar-menu-item-background-hover: var(--background-bold);
  --date-time-picker-calendar-menu-item-background-selected: var(--background-brand-contrast-default);
  --date-time-picker-calendar-menu-item-border-current: var(--border-brand-default);
  --date-time-picker-calendar-menu-item-text-current: var(--text-default);
  --date-time-picker-calendar-menu-item-text-disabled: var(--text-subtlest);
  --date-time-picker-calendar-menu-item-text-enabled: var(--text-default);
  --date-time-picker-calendar-menu-item-text-hover: var(--text-default);
  --date-time-picker-calendar-menu-item-text-selected: var(--text-invert);
  --date-time-picker-calendar-time-item-background-hover: var(--background-bold);
  --date-time-picker-calendar-time-item-background-selected: var(--background-brand-default);
  --date-time-picker-calendar-time-item-text-enabled: var(--text-default);
  --date-time-picker-calendar-time-item-text-hover: var(--text-default);
  --date-time-picker-calendar-time-item-text-selected: var(--text-default);
  --date-time-picker-input-clearable-icon-enabled: var(--icon-subtlest);
  --date-time-picker-input-clearable-icon-hover: var(--icon-subtler);
  --date-time-picker-input-field-background-disabled: var(--background-subtlest);
  --date-time-picker-input-field-background-enabled: var(--background-default);
  --date-time-picker-input-field-background-focus: var(--background-default);
  --date-time-picker-input-field-background-hover: var(--background-default);
  --date-time-picker-input-field-background-readonly: var(--background-subtlest);
  --date-time-picker-input-field-border-disabled: var(--border-subtlest);
  --date-time-picker-input-field-border-enabled: var(--border-default);
  --date-time-picker-input-field-border-focus: var(--border-brand-bold);
  --date-time-picker-input-field-border-hover: var(--border-brand-default);
  --date-time-picker-input-field-border-readonly: var(--border-subtlest);
  --date-time-picker-input-field-text-disabled4: var(--text-subtlest);
  --date-time-picker-input-field-text-enabled: var(--text-default);
  --date-time-picker-input-field-text-focus: var(--text-default);
  --date-time-picker-input-field-text-hover: var(--text-default);
  --date-time-picker-input-field-text-readonly: var(--text-default);
  --date-time-picker-input-placeholder-text-enabled: var(--text-subtlest);
}
