.sy-theme{
    --drawer-content-background-enabled: var(--background-default);
    --drawer-content-text-enabled: var(--text-bold);
    --drawer-footer-background-enabled: var(--background-default);
    --drawer-footer-border-enabled: var(--border-extended-lightgray-default);
    --drawer-header-background-enabled: var(--background-default);
    --drawer-header-border-enabled: var(--border-extended-lightgray-default);
    --drawer-header-icon-enabled: var(--icon-subtler);
    --drawer-header-text-enabled: var(--text-bold);
}
