.sy-theme{
  --inputnumber-form-focusoutline: var(--border-brand-bold);
  --inputnumber-form-field-background-disabled: var(--background-subtlest);
  --inputnumber-form-field-background-enabled: var(--background-default);
  --inputnumber-form-field-background-error: var(--background-default);
  --inputnumber-form-field-background-focus: var(--background-default);
  --inputnumber-form-field-background-hover: var(--background-default);
  --inputnumber-form-field-background-invaild: var(--background-default);
  --inputnumber-form-field-background-readonly: var(--background-subtlest);
  --inputnumber-form-field-background-success: var(--background-default);
  --inputnumber-form-field-background-vaild: var(--background-default);
  --inputnumber-form-field-background-warning: var(--background-default);
  --inputnumber-form-field-border-disabled: var(--border-subtlest);
  --inputnumber-form-field-border-enabled: var(--border-default);
  --inputnumber-form-field-border-error: var(--border-extended-red-bold);
  --inputnumber-form-field-border-focus: var(--border-brand-bold);
  --inputnumber-form-field-border-hover: var(--border-brand-default);
  --inputnumber-form-field-border-invaild: var(--border-extended-red-bold);
  --inputnumber-form-field-border-readonly: var(--border-subtlest);
  --inputnumber-form-field-border-success: var(--border-extended-green-bold);
  --inputnumber-form-field-border-vaild: var(--border-extended-green-bold);
  --inputnumber-form-field-border-warning: var(--border-extended-yellow-bold);
  --inputnumber-form-field-icon-borderless: var(--icon-brand-default);
  --inputnumber-form-field-icon-enabled: var(--icon-subtler);
  --inputnumber-form-field-icon-focus: var(--icon-subtler);
  --inputnumber-form-field-icon-hover: var(--icon-brand-default);
  --inputnumber-form-field-text-borderless: var(--text-default);
  --inputnumber-form-field-text-disabled: var(--text-subtlest);
  --inputnumber-form-field-text-enabled: var(--text-default);
  --inputnumber-form-field-text-error: var(--text-default);
  --inputnumber-form-field-text-focus: var(--text-default);
  --inputnumber-form-field-text-hover: var(--text-default);
  --inputnumber-form-field-text-invaild: var(--text-default);
  --inputnumber-form-field-text-readonly: var(--text-default);
  --inputnumber-form-field-text-success: var(--text-default);
  --inputnumber-form-field-text-vaild: var(--text-default);
  --inputnumber-form-field-text-warning: var(--text-default);
  --inputnumber-form-placeholder-focusoutline: var(--border-brand-bold);
  --inputnumber-form-placeholder-text-enabled: var(--text-subtlest);
  --inputnumber-label-required-disabled: var(--text-error);
  --inputnumber-label-required-enabled: var(--text-error);
  --inputnumber-label-title-disabled: var(--text-subtler);
  --inputnumber-label-title-enabled: var(--text-default);
}
