.sy-theme{
  --modeless-container-border-enabled: var(--border-extended-lightgray-bold);
  --modeless-content-background-enabled: var(--background-default);
  --modeless-content-border-enabled: var(--border-extended-lightgray-default);
  --modeless-content-text-enabled: var(--text-bold);
  --modeless-header-background-enabled: var(--background-default);
  --modeless-header-icon-active: var(--icon-brand-default);
  --modeless-header-icon-enabled: var(--icon-default);
  --modeless-header-icon-hover: var(--icon-brand-subtle);
  --modeless-header-text-enabled: var(--text-bold);
}
