.sy-theme{
    --select-clearable-background-enabled: var(--background-default);
    --select-clearable-background-hover: var(--background-default);
    --select-clearable-border-enabled: var(--border-default);
    --select-clearable-border-hover: var(--border-brand-subtle);
    --select-clearable-icon-enabled: var(--icon-subtlest);
    --select-clearable-icon-hover: var(--icon-subtler);
    --select-clearable-text-enabled: var(--text-default);
    --select-clearable-text-hover: var(--text-default);
    --select-form-focusoutline: var(--border-brand-bold);
    --select-form-background-active: var(--background-default);
    --select-form-background-disabled: var(--background-subtlest);
    --select-form-background-readonly: var(--background-subtlest);
    --select-form-background-enabled: var(--background-default);
    --select-form-background-error: var(--background-default);
    --select-form-background-focus: var(--background-default);
    --select-form-background-hover: var(--background-default);
    --select-form-background-loading: var(--background-default);
    --select-form-background-placeholder: var(--background-default);
    --select-form-background-selected: var(--background-default);
    --select-form-border-active: var(--border-brand-bold);
    --select-form-border-disabled: var(--border-subtlest);
    --select-form-border-readonly: var(--border-subtlest);
    --select-form-border-enabled: var(--border-default);
    --select-form-border-error: var(--border-error);
    --select-form-border-focus: var(--border-brand-bold);
    --select-form-border-hover: var(--border-brand-subtle);
    --select-form-border-loading: var(--border-default);
    --select-form-border-placeholder: var(--border-default);
    --select-form-border-selected: var(--border-brand-bold);
    --select-form-icon-active: var(--icon-subtlest);
    --select-form-icon-disabled: var(--icon-subtlest);
    --select-form-icon-readonly: var(--icon-subtlest);
    --select-form-icon-enabled: var(--icon-subtlest);
    --select-form-icon-error: var(--icon-subtlest);
    --select-form-icon-focus: var(--icon-bold);
    --select-form-icon-hover: var(--icon-subtlest);
    --select-form-icon-loading: var(--icon-subtlest);
    --select-form-icon-placeholder: var(--icon-subtlest);
    --select-form-icon-selected: var(--icon-subtlest);
    --select-form-text-disabled: var(--text-subtlest);
    --select-form-text-readonly: var(--text-default);
    --select-form-text-enabled: var(--text-default);
    --select-form-text-hover: var(--text-subtlest);
    --select-form-text-placeholder: var(--text-subtlest);
    --select-form-text-selected: var(--text-default);
}
