.sy-theme{
  --skeleton-background-disabled: var(--background-subtlest);
  --skeleton-background-enabled: var(--border-extended-lightgray-bold);
  --skeleton-border-disabled: var(--border-subtlest);
  --skeleton-border-enabled: var(--border-extended-lightgray-default);
  }
