.sy-theme{
    --splitpanel-background-disabled: var(--background-subtlest);
    --splitpanel-background-enabled: var(--background-bolder);
    --splitpanel-background-hover: var(--background-boldest);
    --splitpanel-text-enabled: var(--text-bold);
}
