.sy-theme{
    --steps-current-description-text-enabled: var(--text-default);
    --steps-current-icon-background-enabled: var(--background-brand-contrast-default);
    --steps-current-icon-border-enabled: var(--border-brand-default);
    --steps-current-icon-text-enabled: var(--text-invert);
    --steps-current-tail-border-enabled: var(--border-subtlest);
    --steps-current-title-border-enabled: var(--border-extended-lightgray-default);
    --steps-current-title-text-enabled: var(--text-default);
    --steps-disabled-description-text-enabled: var(--text-subtlest);
    --steps-disabled-icon-background-enabled: var(--background-subtlest);
    --steps-disabled-icon-border-enabled: var(--border-subtlest);
    --steps-disabled-icon-text-enabled: var(--text-subtlest);
    --steps-disabled-tail-border-enabled: var(--border-subtlest);
    --steps-disabled-title-border-enabled: var(--border-extended-lightgray-default);
    --steps-disabled-title-text-enabled: var(--text-subtlest);
    --steps-error-description-text-enabled: var(--text-extended-red-default);
    --steps-error-icon-border-enabled: var(--border-extended-red-bold);
    --steps-error-icon-icon-enabled: var(--icon-extended-red-default);
    --steps-error-tail-border-enabled: var(--border-subtlest);
    --steps-error-title-border-enabled: var(--border-extended-lightgray-default);
    --steps-error-title-text-enabled: var(--text-extended-red-default);
    --steps-finished-description-text-enabled: var(--text-subtler);
    --steps-finished-icon-border-enabled: var(--border-brand-default);
    --steps-finished-icon-icon-enabled: var(--icon-brand-default);
    --steps-finished-tail-border-enabled: var(--border-brand-default);
    --steps-finished-title-border-enabled: var(--border-brand-default);
    --steps-finished-title-text-enabled: var(--text-default);
    --steps-process-description-text-enabled: var(--text-subtler);
    --steps-process-icon-icon-enabled: var(--icon-brand-default);
    --steps-process-icon-text-enabled: var(--text-brand-default);
    --steps-process-tail-border-enabled: var(--border-subtlest);
    --steps-process-title-border-enabled: var(--border-extended-lightgray-default);
    --steps-process-title-text-enabled: var(--text-default);
    --steps-wait-description-text-enabled: var(--text-subtler);
    --steps-wait-icon-border-enabled: var(--border-bold);
    --steps-wait-icon-text-enabled: var(--text-subtle);
    --steps-wait-tail-border-enabled: var(--border-subtlest);
    --steps-wait-title-border-enabled: var(--border-extended-lightgray-default);
    --steps-wait-title-text-enabled: var(--text-subtle);
}
