.sy-theme{
    --switch-checked-text-enabled: var(--text-default);
    --switch-checked-text-hover: var(--text-default);
    --switch-checked-text-pressed: var(--text-default);
    --switch-checked-text-focus: var(--text-default);
    --switch-checked-text-disabled: var(--text-subtlest);
    --switch-checked-text-readonly: var(--text-default);
    --switch-checked-text-loading: var(--text-subtlest);
    --switch-checked-icon-enabled: var(--icon-invert);
    --switch-checked-icon-hover: var(--icon-invert);
    --switch-checked-icon-pressed: var(--icon-invert);
    --switch-checked-icon-focus: var(--icon-invert);
    --switch-checked-icon-disabled: var(--icon-invert);
    --switch-checked-icon-readonly: var(--icon-invert);
    --switch-checked-icon-loading: var(--icon-invert);
    --switch-checked-background-enabled: var(--background-brand-contrast-default);
    --switch-checked-border-focus: var(--border-brand-bold);
    --switch-checked-background-hover: var(--background-brand-contrast-default);
    --switch-checked-background-pressed: var(--background-brand-contrast-default);
    --switch-checked-background-focus: var(--background-brand-contrast-default);
    --switch-checked-background-disabled: var(--background-brand-contrast-default);
    --switch-checked-background-readonly: var(--background-brand-contrast-default);
    --switch-checked-background-loading: var(--background-brand-contrast-default);
    --switch-checked-focusoutline: var(--background-brand-contrast-bold);
    --switch-unchecked-text-enabled: var(--text-default);
    --switch-unchecked-focusoutline: var(--background-brand-contrast-bold);
    --switch-unchecked-text-hover: var(--text-default);
    --switch-unchecked-text-pressed: var(--text-default);
    --switch-unchecked-text-focus: var(--text-default);
    --switch-unchecked-text-disabled: var(--text-subtlest);
    --switch-unchecked-text-readonly: var(--text-default);
    --switch-unchecked-text-loading: var(--text-subtlest);
    --switch-unchecked-icon-enabled: var(--icon-invert);
    --switch-unchecked-icon-hover: var(--icon-invert);
    --switch-unchecked-icon-pressed: var(--icon-invert);
    --switch-unchecked-icon-focus: var(--icon-invert);
    --switch-unchecked-icon-disabled: var(--icon-invert);
    --switch-unchecked-icon-readonly: var(--icon-invert);
    --switch-unchecked-icon-loading: var(--icon-invert);
    --switch-unchecked-background-enabled: var(--background-boldest);
    --switch-unchecked-border-focus: var(--border-brand-bold);
    --switch-unchecked-background-hover: var(--background-boldest);
    --switch-unchecked-background-pressed: var(--background-boldest);
    --switch-unchecked-background-focus: var(--background-boldest);
    --switch-unchecked-background-disabled: var(--background-boldest);
    --switch-unchecked-background-readonly: var(--background-boldest);
    --switch-unchecked-background-loading: var(--background-boldest);
}
