.sy-theme{
    --textarea-form-clearable-icon-enabled: var(--icon-subtlest);
    --textarea-form-clearable-icon-hover: var(--icon-subtler);
    --textarea-form-counter-text-enabled: var(--text-subtlest);
    --textarea-form-cursor-icon-enabled: var(--icon-bold);
    --textarea-form-field-focusoutline: var(--border-brand-bold);
    --textarea-form-field-background-clearable: var(--background-default);
    --textarea-form-field-background-counter: var(--background-default);
    --textarea-form-field-background-disabled: var(--background-subtlest);
    --textarea-form-field-background-enabled: var(--background-default);
    --textarea-form-field-background-focused: var(--background-default);
    --textarea-form-field-background-hover: var(--background-default);
    --textarea-form-field-background-invaild: var(--background-default);
    --textarea-form-field-background-placeholder: var(--background-default);
    --textarea-form-field-background-readonly: var(--background-subtlest);
    --textarea-form-field-background-vaild: var(--background-default);
    --textarea-form-field-border-clearable: var(--border-default);
    --textarea-form-field-border-counter: var(--border-default);
    --textarea-form-field-border-disabled: var(--border-subtlest);
    --textarea-form-field-border-enabled: var(--border-default);
    --textarea-form-field-border-focused: var(--border-brand-bold);
    --textarea-form-field-border-hover: var(--border-brand-default);
    --textarea-form-field-border-invaild: var(--border-extended-red-bold);
    --textarea-form-field-border-placeholder: var(--border-default);
    --textarea-form-field-border-readonly: var(--border-subtlest);
    --textarea-form-field-border-vaild: var(--border-extended-green-bold);
    --textarea-form-field-icon-enabled: var(--icon-default);
    --textarea-form-field-text-borderless: var(--text-default);
    --textarea-form-field-text-clearable: var(--text-default);
    --textarea-form-field-text-counter: var(--text-default);
    --textarea-form-field-text-disabled: var(--text-subtlest);
    --textarea-form-field-text-enabled: var(--text-default);
    --textarea-form-field-text-focused: var(--text-default);
    --textarea-form-field-text-hover: var(--text-default);
    --textarea-form-field-text-invaild: var(--text-default);
    --textarea-form-field-text-placeholder: var(--text-subtlest);
    --textarea-form-field-text-readonly: var(--text-default);
    --textarea-form-field-text-vaild: var(--text-default);
    --textarea-form-message-text-enabled: var(--text-subtler);
    --textarea-form-message-text-invaild: var(--text-extended-red-default);
    --textarea-form-message-text-vaild: var(--text-extended-green-default);
    --textarea-form-resize-icon-enabled: var(--icon-bold);
    --textarea-label-required-disabled: var(--text-error);
    --textarea-label-required-enabled: var(--text-error);
    --textarea-label-title-disabled: var(--text-subtler);
    --textarea-label-title-enabled: var(--text-default);
}
