:host {
    /* datetime variant: calendar on the left, time picker on the right */
    .datetime-container {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      box-sizing: border-box;
    }

    .datetime-calendar-container {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      box-sizing: border-box;
      width: auto;
      .calendar-footer {
        display: flex;
        height: 37px;
      }
    }
    .time-picker-container {
      display: flex;
      flex-direction: column;
      flex-grow: 0;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 160px;
      border-left: 1px solid var(--date-time-picker-calendar-container-body-border-enabled);
    }
    .time-section{
      box-sizing:border-box;
      border-left: 1px solid var(--date-time-picker-calendar-container-body-border-enabled);
    }
		.calendar-footer {
			display: flex;
			justify-content: flex-end;
			padding: var(--spacing-2xsmall) var(--spacing-xsmall);
    		box-sizing: border-box;
			border-top: 1px solid var(--date-time-picker-calendar-container-body-border-enabled);
		}
}