:host {
    .range-calendar-container {
      display: flex;
      justify-content: space-between;
      display:flex;

    }
    .calendar-header {
      height:36px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: var(--spacing-3xsmall);
    }
    sy-date-calendar {
      flex: 1;
    }
}

