:root,
:host {
    display: flex;
    width: fit-content;
    height: fit-content;
    .flex-item-wrapper{
        display: flex;
        flex:1 1 0;
        width: fit-content;
    }
}


/* Padding */
:host(sy-flex-item[padding="xs"]){
    padding: var(--spacing-3xsmall);
}
:host(sy-flex-item[padding="sm"]){
    padding: var(--spacing-xsmall);
}
:host(sy-flex-item[padding="md"]){
    padding: var(--spacing-small);
}
:host(sy-flex-item[padding="lg"]){
    padding: var(--spacing-medium);
}
:host(sy-flex-item[padding="xl"]){
    padding: var(--spacing-large);
}


// Position
:host(sy-flex-item){
    box-sizing: border-box;
    
     slot{
        display: flex;
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        flex:1 1 0;
     }
}
:host(sy-flex-item[position="topLeft"]){
    slot{
    align-items: flex-start;
    justify-content: flex-start;
    }
}
:host(sy-flex-item[position="top"]){
    slot{
        align-items: flex-start;
        justify-content: center;
    }
}
:host(sy-flex-item[position="topRight"]){
    slot{
        align-items: flex-start;
        justify-content: flex-end;
    }
}
:host(sy-flex-item[position="right"]){
    slot{
        align-items: center;
        justify-content: flex-end;
    }
}
:host(sy-flex-item[position="bottomRight"]){
    slot{
        align-items: flex-end;
        justify-content: flex-end;
    }
}
:host(sy-flex-item[position="bottom"]){
    slot{
        align-items: flex-end;
        justify-content: center;
    }
}
:host(sy-flex-item[position="bottomLeft"]){
    slot{
        align-items: flex-end;
        justify-content: flex-start;        
    }
}
:host(sy-flex-item[position="left"]){
    slot{
        align-items: center;
        justify-content: flex-start;
    }
}
:host(sy-flex-item[position="center"]){
    slot{
        align-items: center;
        justify-content: center;
    }
}
:host(sy-flex-item[position="between"]){
    slot{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}