:root,
:host {
--button-primary-background-active: var(--background-brand-contrast-bold-light);
--button-primary-background-disabled: var(--background-subtlest-light);
--button-primary-background-enabled: var(--background-brand-contrast-default-light);
--button-primary-background-hover: var(--background-brand-contrast-subtle-light);
--button-primary-background-focus: var(--background-brand-contrast-subtle-light);
--button-primary-border-enabled: var(--border-brand-default-light);
--button-primary-border-hover: var(--border-brand-subtle-light);
--button-primary-border-active: var(--border-brand-bold-light);
--button-primary-border-focus: var(--border-brand-bold-light);
--button-primary-border-disabled: var(--border-subtlest-light);
--button-primary-icon-disabled: var(--icon-subtlest-light);
--button-primary-text-disabled: var(--text-subtlest-light);
--button-default-background-disabled: var(--background-subtlest-light);
--button-default-border-enabled: var(--border-default-light);
--button-default-border-hover: var(--border-brand-subtle-light);
--button-default-border-active: var(--border-brand-bold-light);
--button-default-border-focus: var(--border-brand-bold-light);
--button-default-border-disabled: var(--border-subtlest-light);
--button-default-icon-disabled: var(--icon-subtlest-light);
--button-default-text-disabled: var(--text-subtlest-light);
--button-default-icon-hover: var(--icon-brand-subtle-light);
--button-default-icon-enabled: var(--icon-default-light);
--button-default-icon-active: var(--icon-brand-bold-light);
--button-default-icon-focus: var(--icon-brand-subtle-light);
--button-default-text-hover: var(--text-brand-subtle-light);
--button-default-text-active: var(--text-brand-bold-light);
--button-default-text-focus: var(--text-brand-subtle-light);
--button-default-text-enabled: var(--text-default-light);
--button-secondary-background-disabled: var(--background-subtlest-light);
--button-secondary-border-enabled: var(--border-brand-subtlest-light);
--button-secondary-border-hover: var(--border-brand-subtle-light);
--button-secondary-border-active: var(--border-brand-bold-light);
--button-secondary-border-focus: var(--border-brand-bold-light);
--button-secondary-icon-enabled: var(--icon-brand-default-light);
--button-secondary-border-disabled: var(--border-subtlest-light);
--button-secondary-icon-hover: var(--icon-brand-subtle-light);
--button-secondary-text-enabled: var(--text-brand-default-light);
--button-secondary-icon-active: var(--icon-brand-bold-light);
--button-secondary-icon-focus: var(--icon-brand-subtle-light);
--button-secondary-icon-disabled: var(--icon-subtlest-light);
--button-secondary-text-hover: var(--text-brand-subtle-light);
--button-secondary-text-active: var(--text-brand-bold-light);
--button-secondary-text-focus: var(--text-brand-subtle-light);
--button-secondary-text-disabled: var(--text-subtlest-light);
--button-borderless-background-enabled: var(--background-default-light);
--button-borderless-background-hover: var(--background-bold-light);
--button-borderless-background-active: var(--background-brand-default-light);
--button-borderless-background-focus: var(--background-bold-light);
--button-borderless-border-focus: var(--border-brand-bold-light);
--button-borderless-icon-disabled: var(--icon-subtlest-light);
--button-borderless-text-disabled: var(--text-subtlest-light);
--button-borderless-icon-enabled: var(--icon-default-light);
--button-borderless-icon-hover: var(--icon-brand-subtle-light);
--button-borderless-icon-active: var(--icon-brand-default-light);
--button-borderless-icon-focus: var(--icon-brand-subtle-light);
--button-borderless-text-enabled: var(--text-default-light);
--button-borderless-text-hover: var(--text-brand-subtle-light);
--button-borderless-text-active: var(--text-brand-default-light);
--button-borderless-text-focus: var(--text-brand-subtle-light);
--button-primary-focusoutline: var(--border-brand-bold-light);
--button-default-focusoutline: var(--border-brand-bold-light);
--button-secondary-focus-outline: var(--border-brand-bold-light);
--button-borderless-focusoutline: var(--border-brand-bold-light);
--button-primary-icon-enabled: var(--icon-invert-light);
--button-primary-icon-hover: var(--icon-invert-light);
--button-primary-icon-active: var(--icon-invert-light);
--button-primary-icon-focus: var(--icon-invert-light);
--button-primary-text-enabled: var(--text-invert-light);
--button-primary-text-hover: var(--text-invert-light);
--button-primary-text-active: var(--text-invert-light);
--button-primary-text-focus: var(--text-invert-light);
--button-default-background-enabled: var(--background-default-light);
--button-default-background-hover: var(--background-default-light);
--button-default-background-active: var(--background-default-light);
--button-default-background-focus: var(--background-default-light);
--button-secondary-background-enabled: var(--background-brand-default-light);
--button-secondary-background-hover: var(--background-brand-default-light);
--button-secondary-background-active: var(--background-brand-default-light);
--button-secondary-background-focus: var(--background-brand-default-light);
}
