
/* Steps */
:host {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: start;
    .steps-wrapper{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .step {
        display: flex;
        align-items: start;
    }
}

:host([type=horizontal]) {
    sy-step {
        .step {
            position: relative;
            width: auto;
        }
    }
}

:host([type=horizontal]) {
    .steps-wrapper{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}

:host([type=vertical]) {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}

:host([type=vertical]) {
   .steps-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
