// @use "./layout-token-light"as layout;

:root,
:host {
    display: block;
    height: 100%;
    .layout {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .header,
    .footer {
        flex: none;
    }
    .main {
        flex: 1;
        min-height: 0;
        display: flex;
    } 
    .main.vertical {
        flex-direction: column;
    }
    .main.horizontal {
        flex-direction: row;
    }
    .content {
        flex: 1;
        min-width: 0;
        display: flex;
        flex-direction: column;
    }
    .sider {
        flex: none;
        display: flex;
        flex-direction: column;
    }
    /* 중첩된 레이아웃에 대한 스타일 */
    .main ::slotted(sy-layout) {
        flex: 1;
        min-height: 0;
    }
    /* content와 sider의 슬롯 스타일 */
    .content ::slotted(*),
    .sider ::slotted(*) {
        flex: 1;
        min-height: 0;
    }
}

/* Layout Header&Footer Size */
:host(sy-layout) ::slotted(sy-header[class="small"]),
:host(sy-layout) ::slotted(sy-footer[class="small"]){
    height: 40px;
}
:host(sy-layout) ::slotted(sy-header[class="medium"]),
:host(sy-layout) ::slotted(sy-footer[class="medium"]){
    height: 44px;
}
:host(sy-layout) ::slotted(sy-header[class="large"]),
:host(sy-layout) ::slotted(sy-footer[class="large"]){
    height: 48px;
}

/* Layout Sider Size */
:host(sy-layout) ::slotted(sy-sider[class="small"]){
    width: 200px;
}
:host(sy-layout) ::slotted(sy-sider[class="medium"]){
    width: 240px;
}
:host(sy-layout) ::slotted(sy-sider[class="large"]){
    width: 280px;
}