
:root,
:host {
    display: none;
    position: absolute;
    background-color: var(--popconfirm-background-enabled);
    color: var(--popconfirm-text-enabled);
    box-shadow: var(--box-shadow);
    padding: var(--spacing-small);
    z-index: var(--z-index-popconfirm);
    border-radius: var(--border-radius-small);

    .popconfirm-content {
        margin-bottom: var(--spacing-2xsmall);

        // sy-icon[type="circle-exclamation"] {
        //     color: var(--popconfirm-icon-enabled);
        // }
    }

    .popconfirm-footer {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: var(--spacing-3xsmall);
    }
}