:root,
:host {
    display: block;
    width: 100%;
}

:host(sy-collapse) {
    border-width: 1px;
    border-style: solid;
    border-color: var(--collapse-default-header-border-enabled);
    overflow: auto;
    height: inherit;
}

/* Borderless */
:host(sy-collapse[borderless]) {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

/* FullHeight */
:host(sy-collapse[fullheight]) {
    display: flex;
    flex-direction: column;
    height: 100%;
    .collapse--panel{
        height: 100%;
        display: flex;
        flex-direction: column;
        slot{
            display: flex;
            height: 100%;
            flex-direction: column;
            box-sizing: border-box;
        }
    }
}

:host(sy-collapse[fullheight]) ::slotted(sy-collapse-panel[active]){
    flex: 1;
}

/* Disabled */
:host(sy-collapse[disabled]) {

    sy-collpase-panel {
        background-color: var(--collapse-default-header-background-disabled);
        color: var(--collapse-default-header-text-disabled);
    }

    .collapse--arrow::after {
        border-color: var(--collapse-default-header-border-disabled);
    }
}

:host(sy-collapse-panel:last-child) {
    .collapse--item {
        border-bottom: var(--border-small) transparent;
    }
}

/* sy-collapse-panel */
:host(sy-collapse-panel) {
    .collapse--item {
        width: 100%;
        border-bottom: var(--border-small) var(--collapse-default-header-border-enabled);

        &.borderless {
            border-bottom: var(--border-small) transparent;
        }

        &.ghost {
            .collapse--header,
            .collapse--content {
                color: var(--collapse-ghost-header-text-enabled);
                background-color: transparent;
                &:after{
                    border-color: var(--collapse-ghost-header-icon-enable);
                }
            }
        }
        &.ghost.disabled {
            .collapse--header,
            .collapse--content {
                color: var(--collapse-ghost-header-text-disabled);
                background-color: transparent;
                &:after{
                    border-color: var(--collapse-ghost-header-icon-enable);
                }
            }
        }

        &.disabled {
            color: var(--collapse-default-header-text-disabled);

            .collapse--header {
                cursor: auto;

                &:after {
                    border-color: var(--collapse-default-header-border-enabled);
                }
            }
        }
    }

    .collapse--item.full-height-collapse{
        width: 100%;
        height: 40px;
        min-height: 18px;
        &.active{
            display: flex;
            height: inherit;
            flex-direction: column;
            flex:1;
        }
        .collapse--content{
            flex: 1;
        }
    }

    .active {
        .collapse--header {
            border-bottom: var(--border-small) var(--collapse-default-header-border-enabled);
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;

            &::after {
                transform: translateY(0%) rotate(45deg);
            }
        }

        &.borderless {
            .collapse--header {
                border-bottom: var(--border-small) transparent;
            }
        }

    }

}


:host(sy-collapse-panel[fullheight]) ::slotted(div[class="content"]),
:host(sy-collapse-panel[fullheight]) ::slotted(span[class="content"]){
    max-height: 0px;
}

:host(sy-collapse-panel[type="hidden"]) {
    .collapse--header {
        padding-left: var(--spacing-xsmall);
    }
}

:host(sy-collapse-panel) {
    display: inherit;

    /* Collapse Header */
    .collapse--header {
        position: relative;
        padding: var(--spacing-xsmall);
        cursor: pointer;
        background-color: var(--collapse-default-header-background-enabled);
        border: var(--border-small) transparent;
        box-sizing: border-box;

        &:focus-visible {
            border: var(--border-small) var(--focus-outline);
            outline: var(--border-small) var(--focus-outline);
        }

        .header {
            padding-left: var(--spacing-3xsmall);
        }

    }

    .collapse--arrow {
        padding-left: var(--spacing-xlarge);
    }

    .collapse--arrow::after {
        content: '';
        position: absolute;
        top: calc(50% - var(--spacing-3xsmall));
        left: var(--spacing-small);
        transform: translateY(0%) rotate(-45deg);
        border: solid var(--collapse-default-header-icon-enabled);
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
        transition: var(--transition-x-fast);
        transform-origin: center;
    }

    .collapse--arrow.active::after {
        transform: translateY(0%) rotate(45deg);
    }

    .collapse--arrow>.collapse-title {
        padding-left: var(--spacing-medium);
        height: 100%;
        display: flex;
        align-content: center;
        align-items: center;
    }

    /* Collapse Body */
    .collapse--content {
        display: block;
        overflow:auto;
        min-height: 22px;
        background-color: var(--collapse-default-body-background-enabled);
        slot{
            padding: var(--spacing-xsmall);
            display: block;
            height: 100%;
            overflow:auto;
            min-height: 38px;
        }
    }


    :host(sy-collapse-panel[borderless]) {
        border: none;

        &.active {
            .collapse--header {
                border: none;
            }
        }
    }



}
