/* Font Basic */

@mixin text-style-base-regular() {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
    text-transform: none;
}

@mixin text-style-base-medium() {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.25px;
}

@mixin text-style-base-bold() {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.25px;
}

@mixin text-style-large-regular() {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.5px;
}

@mixin text-style-large-medium() {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.5px;
}

@mixin text-style-large-bold() {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.5px;
}

@mixin text-style-small-regular() {
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

@mixin text-style-small-medium() {
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}

@mixin text-style-small-bold() {
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
}
@mixin text-style-xsmall-regular() {
    font-family: "Roboto";
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.003em;
}

@mixin text-style-xsmall-medium() {
    font-family: "Roboto";
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.3px;
}

@mixin text-style-xsmall-bold() {
    font-family: "Roboto";
    font-size: 11px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.3px;
}