/* Font Heading */

@mixin text-style-heading-1() {
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
}

@mixin text-style-heading-2() {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 500;
    line-height: 38px;
}

@mixin text-style-heading-3() {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

@mixin text-style-heading-4() {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.15px;
}

@mixin text-style-heading-5() {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.15px;
}

@mixin text-style-heading-6() {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
}

@mixin text-style-heading-6-regular() {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
}

@mixin text-style-heading-6-medium() {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
}

@mixin text-style-heading-6-bold() {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.15px;
}

// @mixin effect-style-drop-shadow-button-primary() {
//     box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.040);
// }

// @mixin effect-style-drop-shadow-button-default() {
//     box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.020);
// }

// @mixin effect-style-drop-shadow-button-secondary() {
//     box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.020);
// }