
:root,
:host {
    display: inline-flex;
   .button-group {
         display: inline-flex;
         justify-content: flex-start;
    }

    .button-group--vertical {
        flex-direction: column;
    }
}

/* focus visible */
:host(sy-button-group) .button-group > sy-button:focus-within{
    z-index:2;
}


/* Horizontal */
:host(sy-button-group) .button-group > sy-button{
    margin: 0;
    margin-left:-1px;
}
/* Spacing is handled by each `sy-button` when grouped. */