@use "../../assets/style/global/font" as font;


:root,
:host {
    .textarea-container {
        display: grid;
        grid-template-columns: auto 1fr auto;

        .textarea-clear {
            display: none;

            &.scroll {
                right: var(--spacing-medium) !important;
            }
        }

        .textarea--label {
            display: inline-flex;
            padding-right: var(--spacing-xsmall);
            white-space: nowrap;
            gap: var(--spacing-3xsmall);
            align-items: center;

            .required {
                color: var(--textarea-label-required-enabled);
            }
        }

        .textarea--info {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
        }

        &.textarea--nolabel {
            grid-template-columns: 1fr;

            .textarea--info {
                grid-area: auto;
            }
        }

        &.textarea--vertical {

            display: flex;
            flex-direction: column;
            padding: 0px;
            width: 100%;

            .textarea--label {
                display: inline-flex;
                gap: var(--spacing-3xsmall);
            }
        }

        &.textarea--borderless {
            .textarea {
                border: var(--border-small) transparent;
                background-color: transparent;
                outline: none;

                &.textarea--valid {
                    border: var(--border-small) var(--textarea-form-field-border-vaild);
                }

                &.textarea--invalid {
                    border: var(--border-small) var(--textarea-form-field-border-invaild);
                }
            }
        }

        &.textarea--clearable {
            .textarea-box {
                position: relative;

                .textarea-clear {
                    position: absolute;
                    display: none;
                    align-content: center;
                    justify-content: center;
                    background: transparent;
                    cursor: var(--cursor-button);
                }

                &:hover {
                    .textarea-clear {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        top: var(--spacing-2xsmall);
                        right: var(--spacing-2xsmall);
                        color: var(--textarea-form-clearable-icon-enabled);

                        &:hover {
                            color: var(--textarea-form-clearable-icon-hover);
                        }
                    }
                }
            }

            .textarea {
                padding-right: var(--spacing-xlarge);
            }
        }

        textarea::placeholder {
            color: var(--textarea-form-field-text-placeholder)
        }
    }

    // .textarea-box {
    //     width: -webkit-fill-available;
    // }

    .textarea {
        background-color: var(--textarea-form-field-background-enabled);
        border: var(--border-small) var(--textarea-form-field-border-enabled);
        color: var(--textarea-form-field-text-enabled);
        border-radius: var(--border-radius-medium);
        box-sizing: border-box;
        display: flex;
        outline: none;
        height: 100%;
        min-width: 100px;
        min-height: 32px;

        &.textarea--valid {
            border: var(--border-small) var(--textarea-form-field-border-vaild);
        }

        /* Invalid 상태일 때 테두리 색상 */
        &.textarea--invalid {
            border: var(--border-small) var(--textarea-form-field-border-invaild);
        }

        &:hover {
            color: var(--textarea-form-field-text-hover);
            border: var(--border-small) var(--textarea-form-field-border-hover);
        }

        &[disabled] {
            background-color: var(--textarea-form-field-background-disabled);
            border: var(--border-small) var(--textarea-form-field-border-disabled);
            color: var(--textarea-form-field-text-disabled);
        }

        &[readonly] {
            background-color: var(--textarea-form-field-background-readonly);
            border: var(--border-small) var(--textarea-form-field-border-readonly);
            color: var(--textarea-form-field-text-readonly);

            &:focus,
            &:focus-visible {
                background-color: var(--textarea-form-field-background-readonly);
                border: var(--border-small) var(--textarea-form-field-border-readonly);
                outline: none;
            }

        }

        &:focus,
        &:focus-visible {
            color: var(--textarea-form-field-text-focused);
            border: var(--border-small) var(--textarea-form-field-focusoutline);
            outline: var(--border-small) var(--textarea-form-field-focusoutline);

            /* Valid 상태일 때 테두리 색상 */
            &.textarea--valid {
                border: var(--border-small) var(--textarea-form-field-border-vaild);
                outline: var(--border-small) var(--focus-outline) !important;
            }

            /* Invalid 상태일 때 테두리 색상 */
            &.textarea--invalid {
                border: var(--border-small) var(--textarea-form-field-border-invaild);
                outline: var(--border-small) var(--focus-outline) !important;
            }
        }
    }

    .textarea--small {
        padding: var(--spacing-4xsmall) var(--spacing-2xsmall);
        border-radius: var(--border-radius-small);
        @include font.text-style-small-regular;

        .textarea-clear {
            top: var(--spacing-2xsmall);
            right: var(--spacing-2xsmall);
        }
    }

    .textarea--medium {
        padding: var(--spacing-3xsmall) var(--spacing-xsmall);
        @include font.text-style-base-regular;

        .textarea-clear {
            top: var(--spacing-xsmall);
            right: var(--spacing-xsmall);
        }
    }

    .textarea--large {
        padding: var(--spacing-2xsmall) var(--spacing-small);
        @include font.text-style-large-regular;

        .textarea-clear {
            top: var(--spacing-small);
            right: var(--spacing-small);
        }
    }


    .textarea--info {
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .textarea--messsage {
            display: inline-flex;
            align-items: center;

            .message {
                color: var(--textarea-form-message-text-enabled);
                height: fit-content;
                margin: 0px;
            }
        }
    }

}

/* Resize types */
.textarea-container {
    display: flex;
    flex-direction: column;

    .textarea--count {
        color: var(--textarea-form-counter-text-enabled);
        display: inline-flex;
        align-items: center;
    }
}

:host textarea {
    width: 100%;
}

.textarea--resize-none {
    resize: none;
}

.textarea--resize-horizontal {
    resize: horizontal;
    overflow-y: auto;
}

.textarea--resize-vertical {
    resize: vertical;
    overflow-y: auto;
}

.textarea--resize-both {
    height: auto;
    resize: both;
    /* Allows resizing both width and height */
    overflow-y: auto;
}

/* Size types */
.textarea--size-small {
    font-size: 0.875rem;
    padding: var(--spacing-3xsmall);
}

.textarea--size-medium {
    font-size: 1rem;
    padding: 6px;
}

.textarea--size-large {
    font-size: 1.25rem;
    padding: var(--spacing-xsmall);
}

:host(sy-textarea[disabled]) {
    .textarea--label {
        color: var(--textarea-form-field-text-disabled);
    }
}

:host(sy-textarea[resize="none"]) {
    .textarea-container {
        width: auto;

        .textarea-box {
            width: -webkit-fill-available;
        }
    }
}

:host(sy-textarea[resize="horizontal"]),
:host(sy-textarea[resize="vertical"]) {
    .textarea-container {
        width: 100%;

        .textarea-box {
            width: 100%;
        }
    }
}

:host(sy-textarea[resize="both"]) {
    .textarea-container {
        width: 100%;

        .textarea-box {
            width: 100%;
        }
    }
}

.error-container {
    color: var(--required);
    display: none;
    
    &.visible-error {
        display: block;
    }
}

/* Label Size */
:host(sy-textarea[size="large"]) {
    .textarea--label {
        height: var(--component-large);
    }
}

:host(sy-textarea[size="medium"]) {
    .textarea--label {
        height: var(--component-medium);
    }
}

:host(sy-textarea[size="small"]) {
    .textarea--label {
        height: var(--component-small);
    }
}