:root,
:host {
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
:host([hidden]) {   
    display: none;
}
/* Default & Overlay Type */
:host-context(sy-spinner) {
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

:host-context(sy-spinner[overlay]) {
    position: relative;
    display: block;
    min-height: 80px;
    width: 100%;
    height: 100%;

    .spinner--wrapper {
        position: absolute;
    }
}

/* Size in Button */
:host-context(.spinner--small) {
    .spinner--wrapper {
        background-color: transparent;

        .spinner {
            width: 12px;
            height: 12px;
        }
    }
}

.spinner--wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--spinner-background);
    width: 100%;
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 60px;
    &.spinner--inline{
      flex-direction: row;
      justify-content: start;
      align-items: center;
      min-height: inherit;
      width: initial;
      background-color: unset;      
      gap: var(--spacing-xsmall);
    }
    &.spinner--small {
      .spinner {
        width: 12px;
        height: 12px;
      }
    }
    &.spinner--medium {
      .spinner {
        width: 16px;
        height: 16px;
      }
    }     
    &.spinner--large {
      .spinner {
        width: 20px;
        height: 20px;
      }
    }   
    &.spinner--xlarge {
      .spinner {
        width: 24px;
        height: 24px;
      }
    }         

    .spinner-contents {
        padding: var(--spacing-xsmall);
    }

    &.spinner--hidden {

        .spinner,
        .spinner--text {
            display: none;
        }
    }
}

.spinner--text {
    padding-top: var(--spacing-3xsmall);
    color: var(--spinner-text);
}

// .spinner {
//     width: 4px;
//     height: 4px;
//     border: 8px dotted var(--spinner-icon);
//     // border-radius: 50%;
//     display: inline-block;
//     position: relative;
//     animation: spin 2s linear infinite;
//     margin: var(--spacing-2xsmall);
// }

// @keyframes spin {
//     0% {
//         transform: rotate(0deg);
//     }

//     100% {
//         transform: rotate(360deg);
//     }
// }

$offset: 187;
$duration: 1.4s;

.spinner {
  width:20px;
  height:20px;
  svg{
    width:100%;
    height:100%;
    animation: rotator $duration linear infinite;
  }
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite, 
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: var(--spinner-icon); }
  100% { stroke: var(--spinner-icon); }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: calc($offset/4);
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}