.sy-theme{
    --avatar-blue-background-enabled: var(--background-category-blue-default);
    --avatar-blue-border-enabled: var(--border-invert);
    --avatar-blue-icon-enabled: var(--icon-invert);
    --avatar-blue-text-enabled: var(--text-invert);
    --avatar-darkgray-background-enabled: var(--background-category-darkgray-default);
    --avatar-darkgray-border-enabled: var(--border-invert);
    --avatar-darkgray-icon-enabled: var(--icon-invert);
    --avatar-darkgray-text-enabled: var(--text-invert);
    --avatar-green-background-enabled: var(--background-category-green-default);
    --avatar-green-border-enabled: var(--border-invert);
    --avatar-green-icon-enabled: var(--icon-invert);
    --avatar-green-text-enabled: var(--text-invert);
    --avatar-lightgray-background-enabled: var(--background-category-lightgray-default);
    --avatar-lightgray-border-enabled: var(--border-invert);
    --avatar-lightgray-icon-enabled: var(--icon-invert);
    --avatar-lightgray-text-enabled: var(--text-invert);
    --avatar-lime-background-enabled: var(--background-category-lime-default);
    --avatar-lime-border-enabled: var(--border-invert);
    --avatar-lime-icon-enabled: var(--icon-invert);
    --avatar-lime-text-enabled: var(--text-invert);
    --avatar-magenta-background-enabled: var(--background-category-magenta-default);
    --avatar-magenta-border-enabled: var(--border-invert);
    --avatar-magenta-icon-enabled: var(--icon-invert);
    --avatar-magenta-text-enabled: var(--text-invert);
    --avatar-orange-background-enabled: var(--background-category-orange-default);
    --avatar-orange-border-enabled: var(--border-invert);
    --avatar-orange-icon-enabled: var(--icon-invert);
    --avatar-orange-text-enabled: var(--text-invert);
    --avatar-purple-background-enabled: var(--background-category-purple-default);
    --avatar-purple-border-enabled: var(--border-invert);
    --avatar-purple-icon-enabled: var(--icon-invert);
    --avatar-purple-text-enabled: var(--text-invert);
    --avatar-red-background-enabled: var(--background-category-red-default);
    --avatar-red-border-enabled: var(--border-invert);
    --avatar-red-icon-enabled: var(--icon-invert);
    --avatar-red-text-enabled: var(--text-invert);
    --avatar-teal-background-enabled: var(--background-category-teal-default);
    --avatar-teal-border-enabled: var(--border-invert);
    --avatar-teal-icon-enabled: var(--icon-invert);
    --avatar-teal-text-enabled: var(--text-invert);
    --avatar-yellow-background-enabled: var(--background-category-yellow-default);
    --avatar-yellow-border-enabled: var(--border-invert);
    --avatar-yellow-icon-enabled: var(--icon-invert);
    --avatar-yellow-text-enabled: var(--text-invert);
}
