.sy-theme{
    --card-body-border-enabled: var(--border-subtlest);
    --card-body-text-enabled: var(--text-default-light);
    --card-container-background-enabled: var(--background-default);
    --card-container-border-enabled: var(--border-subtlest);
    --card-footer-text-enabled: var(--text-default);
    --card-header-border-enabled: var(--border-subtlest);
    --card-header-icon-enabled: var(--icon-default);
    --card-header-text-enabled: var(--text-default);
  }