.sy-theme{
    --checkbox-checked-focusoutline: var(--border-brand-bold);
    --checkbox-checked-background-disabled: var(--background-subtlest);
    --checkbox-checked-background-enabled: var(--background-brand-contrast-default);
    --checkbox-checked-background-focus: var(--background-brand-contrast-default);
    --checkbox-checked-background-readonly: var(--background-subtlest);
    --checkbox-checked-border-disabled: var(--border-subtlest);
    --checkbox-checked-border-enabled: var(--border-brand-default);
    --checkbox-checked-border-focus: var(--border-brand-bold);
    --checkbox-checked-border-readonly: var(--border-subtlest);
    --checkbox-checked-icon-disabled: var(--icon-subtlest);
    --checkbox-checked-icon-enabled: var(--icon-invert);
    --checkbox-checked-icon-focus: var(--icon-invert);
    --checkbox-checked-icon-readonly: var(--icon-subtlest);
    --checkbox-checked-text-disabled: var(--text-subtlest);
    --checkbox-checked-text-enabled: var(--text-default);
    --checkbox-checked-text-focus: var(--text-default);
    --checkbox-checked-text-readonly: var(--text-default);
    --checkbox-indeterminate-focusoutline: var(--focus-outline);
    --checkbox-indeterminate-background-disabled: var(--background-subtlest);
    --checkbox-indeterminate-background-enabled: var(--background-default);
    --checkbox-indeterminate-background-focus: var(--background-default);
    --checkbox-indeterminate-background-hover: var(--background-default);
    --checkbox-indeterminate-background-readonly: var(--background-subtlest);
    --checkbox-indeterminate-border-disabled: var(--border-subtlest);
    --checkbox-indeterminate-border-enabled: var(--border-subtlest);
    --checkbox-indeterminate-border-focus: var(--border-brand-bold);
    --checkbox-indeterminate-border-hover: var(--border-brand-default);
    --checkbox-indeterminate-border-readonly: var(--border-subtlest);
    --checkbox-indeterminate-icon-disabled: var(--icon-subtlest);
    --checkbox-indeterminate-icon-enabled: var(--icon-brand-default);
    --checkbox-indeterminate-icon-focus: var(--icon-brand-default);
    --checkbox-indeterminate-icon-hover: var(--icon-brand-default);
    --checkbox-indeterminate-icon-readonly: var(--icon-subtlest);
    --checkbox-indeterminate-text-disabled: var(--text-subtlest);
    --checkbox-indeterminate-text-enabled: var(--text-default);
    --checkbox-indeterminate-text-focus: var(--text-default);
    --checkbox-indeterminate-text-hover: var(--text-default);
    --checkbox-indeterminate-text-readonly: var(--text-default);
    --checkbox-unchecked-focusoutline: var(--focus-outline);
    --checkbox-unchecked-background-disabled: var(--background-subtlest);
    --checkbox-unchecked-background-enabled: var(--background-default);
    --checkbox-unchecked-background-focus: var(--background-default);
    --checkbox-unchecked-background-hover: var(--background-default);
    --checkbox-unchecked-background-readonly: var(--background-subtlest);
    --checkbox-unchecked-border-disabled: var(--border-subtlest);
    --checkbox-unchecked-border-enabled: var(--border-subtlest);
    --checkbox-unchecked-border-focus: var(--border-brand-bold);
    --checkbox-unchecked-border-hover: var(--border-brand-default);
    --checkbox-unchecked-border-readonly: var(--border-subtlest);
    --checkbox-unchecked-text-disabled: var(--text-subtlest);
    --checkbox-unchecked-text-enabled: var(--text-default);
    --checkbox-unchecked-text-focus: var(--text-default);
    --checkbox-unchecked-text-hover: var(--text-default);
    --checkbox-unchecked-text-readonly: var(--text-default);
}
