.sy-theme{
    --collapse-borderless-body-focusoutline: var(--border-brand-bold);
    --collapse-borderless-body-background-enabled: var(--background-bold);
    --collapse-borderless-header-focusoutline: var(--border-brand-bold);
    --collapse-borderless-header-background-disabled: var(--background-bold);
    --collapse-borderless-header-background-enabled: var(--background-bold);
    --collapse-borderless-header-background-focus: var(--background-bold);
    --collapse-borderless-header-border-focus: var(--border-brand-bold);
    --collapse-borderless-header-icon-disabled: var(--icon-subtlest);
    --collapse-borderless-header-icon-enabled: var(--icon-default);
    --collapse-borderless-header-icon-focus: var(--icon-default);
    --collapse-borderless-header-text-disabled: var(--text-subtlest);
    --collapse-borderless-header-text-enabled: var(--text-default);
    --collapse-borderless-header-text-focus: var(--text-default);
    --collapse-default-focusoutline: var(--border-brand-bold);
    --collapse-default-body-background-enabled: var(--background-default);
    --collapse-default-header-background-disabled: var(--background-bold);
    --collapse-default-header-background-enabled: var(--background-bold);
    --collapse-default-header-background-focus: var(--background-bold);
    --collapse-default-header-border-disabled: var(--border-extended-lightgray-default);
    --collapse-default-header-border-enabled: var(--border-extended-lightgray-default);
    --collapse-default-header-border-focus: var(--border-brand-bold);
    --collapse-default-header-icon-disabled: var(--icon-subtlest);
    --collapse-default-header-icon-enabled: var(--icon-default);
    --collapse-default-header-icon-focus: var(--icon-default);
    --collapse-default-header-text-disabled: var(--text-subtlest);
    --collapse-default-header-text-enabled: var(--text-default);
    --collapse-default-header-text-focus: var(--text-default);
    --collapse-ghost-header-focusoutline: var(--border-brand-bold);
    --collapse-ghost-header-border-focus: var(--border-brand-bold);
    --collapse-ghost-header-icon-disabled: var(--icon-subtlest);
    --collapse-ghost-header-icon-enabled: var(--icon-default);
    --collapse-ghost-header-icon-focus: var(--icon-default);
    --collapse-ghost-header-text-disabled: var(--text-subtlest);
    --collapse-ghost-header-text-enabled: var(--text-default);
    --collapse-ghost-header-text-focus: var(--text-default);
}
