.sy-theme{
  --color-picker-focusoutline: var(--border-brand-bold);
  --color-picker-panel-color-area-background-enabled: var(--background-brand-contrast-default);
  --color-picker-panel-color-area-border-enabled: var(--border-subtlest);
  --color-picker-panel-container-background-enabled: var(--background-default);
  --color-picker-panel-sliders-handle-border-enabled: var(--border-invert);
  --color-picker-panel-sliders-preview-background-enabled: var(--background-brand-contrast-default);
  --color-picker-panel-sliders-preview-border-enabled: var(--border-subtlest);
  --color-picker-panel-sliders-slider-border-enabled: var(--border-subtlest);
  
  --color-picker-trigger-color-block-background-enabled: var(--background-brand-contrast-default);
  --color-picker-trigger-color-block-border-enabled: var(--border-subtlest);
  --color-picker-trigger-container-background-disabled: var(--background-subtlest);
  --color-picker-trigger-container-background-enabled: var(--background-default);
  --color-picker-trigger-container-background-focus: var(--background-default);
  --color-picker-trigger-container-background-hover: var(--background-default);
  --color-picker-trigger-container-background-readonly: var(--background-subtlest);
  --color-picker-trigger-container-border-disabled: var(--border-subtlest);
  --color-picker-trigger-container-border-enabled: var(--border-default);
  --color-picker-trigger-container-border-focus: var(--border-brand-bold);
  --color-picker-trigger-container-border-hover: var(--border-brand-default);
  --color-picker-trigger-container-border-readonly: var(--border-subtlest);
  --color-picker-trigger-container-text-disabled: var(--text-subtlest);
  --color-picker-trigger-container-text-enabled: var(--text-default);
  --color-picker-trigger-container-text-focus: var(--text-default);
  --color-picker-trigger-container-text-hover: var(--text-default);
  --color-picker-trigger-container-text-readonly: var(--text-default);
}
