.sy-theme{
    --globalheader-default-account-container-background-enabled-enabled: var(--background-default);
    --globalheader-default-account-userid-text-enabled: var(--text-subtle);
    --globalheader-default-account-username-text-enabled: var(--text-bold);
    --globalheader-default-container-background-enabled: var(--background-default);
    --globalheader-default-container-border-enabled: var(--border-subtlest);
    --globalheader-default-title-text-enabled: var(--text-bold);
}