.sy-theme{
    --menu-dropdownmenu-background-enabled: var(--background-default);
    --menu-grouptitle-text-enabled: var(--text-subtler);
    --menu-menuitem-arrow-icon-disabled: var(--icon-subtler);
    --menu-menuitem-arrow-icon-enabled: var(--icon-subtler);
    --menu-menuitem-arrow-icon-hover: var(--icon-subtler);
    --menu-menuitem-arrow-icon-selected: var(--icon-subtler);
    --menu-menuitem-default-background-active: var(--background-bold);
    --menu-menuitem-default-background-hover: var(--background-bold);
    --menu-menuitem-default-background-selected: var(--background-brand-default);
    --menu-menuitem-default-text-disabled: var(--text-subtlest);
    --menu-menuitem-default-text-enabled: var(--text-default);
    --menu-menuitem-default-text-hover: var(--text-default);
    --menu-menuitem-default-text-selected: var(--text-default);
    --menu-menuitem-menuicon-icon-active: var(--icon-default);
    --menu-menuitem-icon-disabled: var(--icon-subtlest);
    --menu-menuitem-icon-enabled: var(--icon-default);
    --menu-menuitem-icon-hover: var(--icon-default);
    --menu-menuitem-icon-selected: var(--icon-default);
}
