.sy-theme{
    --modal-content-background-enabled: var(--background-default);
    --modal-content-text-enabled: var(--text-default);
    --modal-footer-background-enabled: var(--background-default);
    --modal-footer-border-enabled: var(--border-extended-lightgray-default);
    --modal-header-background-enabled: var(--background-default);
    --modal-header-border-enabled: var(--border-extended-lightgray-default);
    --modal-header-icon-enabled: var(--icon-subtler);
    --modal-header-icon-hover: var(--icon-default);
    --modal-header-text-enabled: var(--text-default);
}
