.sy-theme{
    --pagination-index-active-background-active: var(--background-default);
    --pagination-index-active-background-disabled: var(--background-subtlest);
    --pagination-index-active-background-enabled: var(--background-default);
    --pagination-index-active-background-hover: var(--background-default);
    --pagination-index-active-border-active: var(--border-brand-default);
    --pagination-index-active-border-disabled: var(--border-subtlest);
    --pagination-index-active-border-enabled: var(--border-brand-default);
    --pagination-index-active-border-hover: var(--border-brand-subtle);
    --pagination-index-active-icon-active: var(--icon-brand-default);
    --pagination-index-active-text-active: var(--text-brand-default);
    --pagination-index-active-text-disabled: var(--text-subtlest);
    --pagination-index-active-text-enabled: var(--text-brand-default);
    --pagination-index-inactive-icon-disabled: var(--icon-subtlest);
    --pagination-index-inactive-icon-enabled: var(--icon-default);
    --pagination-index-inactive-icon-hover: var(--icon-brand-default);
    --pagination-index-inactive-text-disabled: var(--text-subtlest);
    --pagination-index-inactive-text-enabled: var(--text-default);
    --pagination-index-inactive-text-hover: var(--text-brand-default);
    --pagination-index-more-text-enabled: var(--text-subtlest);
    --pagination-jumper-background-active: var(--background-default);
    --pagination-jumper-background-disabled: var(--background-subtlest);
    --pagination-jumper-background-enabled: var(--background-default);
    --pagination-jumper-background-hover: var(--background-default);
    --pagination-jumper-border-active: var(--border-brand-bold);
    --pagination-jumper-border-disabled: var(--border-subtlest);
    --pagination-jumper-border-enabled: var(--border-default);
    --pagination-jumper-border-hover: var(--border-brand-default);
    --pagination-jumper-icon-active: var(--icon-bold);
    --pagination-jumper-text-active: var(--text-default);
    --pagination-jumper-text-disabled: var(--text-subtlest);
    --pagination-jumper-text-enabled: var(--text-default);
    --pagination-jumper-text-hover: var(--text-default);
    --pagination-selector-background-active: var(--background-default);
    --pagination-selector-background-disabled: var(--background-subtlest);
    --pagination-selector-background-enabled: var(--background-default);
    --pagination-selector-background-hover: var(--background-default);
    --pagination-selector-border-active: var(--border-brand-default);
    --pagination-selector-border-disabled: var(--border-subtlest);
    --pagination-selector-border-enabled: var(--border-default);
    --pagination-selector-border-hover: var(--border-brand-default);
    --pagination-selector-icon-active: var(--icon-subtlest);
    --pagination-selector-icon-disabled: var(--icon-subtlest);
    --pagination-selector-icon-enabled: var(--icon-subtlest);
    --pagination-selector-icon-hover: var(--icon-subtlest);
    --pagination-selector-text-active: var(--text-subtlest);
    --pagination-selector-text-disabled: var(--text-subtlest);
    --pagination-selector-text-enabled: var(--text-default);
    --pagination-selector-text-hover: var(--text-default);
    --pagination-selectormenu-background-active: var(--background-bold);
    --pagination-selectormenu-background-enabled: var(--background-default);
    --pagination-selectormenu-background-hover: var(--background-bold);
    --pagination-selectormenu-background-selected: var(--background-brand-default);
    --pagination-selectormenu-text-active: var(--text-default);
    --pagination-selectormenu-text-disabled: var(--text-subtlest);
    --pagination-selectormenu-text-enabled: var(--text-default);
    --pagination-selectormenu-text-hover: var(--text-default);
    --pagination-selectormenu-text-selected: var(--text-default);
    --pagination-total-text-active: var(--text-default);
    --pagination-total-text-disabled: var(--text-subtlest);
    --pagination-total-text-enabled: var(--text-default);
    --pagination-total-text-hover: var(--text-default);
}
