.sy-theme{
    --radio-focusoutline: var(--focus-outline);
    --radio-default-background: var(--background-default);
    --radio-default-text: var(--text-default);
    --radio-default-background-disabled: var(--background-subtlest);
    --radio-default-background-readonly: var(--background-subtlest);
    --radio-default-border-disabled: var(--border-subtlest);
    --radio-default-border-enabled: var(--border-default);
    --radio-default-border-focus: var(--border-brand-bold);
    --radio-default-border-hover: var(--border-brand-default);
    --radio-default-border-readonly: var(--border-subtlest);
    --radio-default-text-disabled: var(--text-subtlest);
    --radio-default-text-enabled: var(--text-default);
    --radio-solid-background: var(--background-default);
    --radio-solid-icon: var(--icon-brand-default);
    --radio-solid-text: var(--text-default);
    --radio-solid-background-disabled: var(--background-subtlest);
    --radio-solid-background-readonly: var(--background-subtlest);
    --radio-solid-border-disabled: var(--border-subtlest);
    --radio-solid-border-enabled: var(--border-brand-default);
    --radio-solid-border-focus: var(--border-brand-bold);
    --radio-solid-border-hover: var(--border-brand-default);
    --radio-solid-border-readonly: var(--border-subtlest);
    --radio-solid-icon-disabled: var(--icon-subtlest);
    --radio-solid-icon-readonly: var(--icon-subtlest);
    --radio-solid-text-disabled: var(--text-subtlest);
    --radio-solid-text-enabled: var(--text-default);
}
