.sy-theme{
    --radiobutton-outlined-checked-focusoutline: var(--focus-outline);
    --radiobutton-outlined-checked-background-disabled: var(--background-subtlest);
    --radiobutton-outlined-checked-background-enabled: var(--background-brand-default);
    --radiobutton-outlined-checked-background-focus: var(--background-brand-default);
    --radiobutton-outlined-checked-background-hover: var(--background-brand-default);
    --radiobutton-outlined-checked-background-selected: var(--background-brand-default);
    --radiobutton-outlined-checked-border-disabled: var(--border-subtlest);
    --radiobutton-outlined-checked-border-enabled: var(--border-brand-subtlest);
    --radiobutton-outlined-checked-border-focus: var(--border-brand-bold);
    --radiobutton-outlined-checked-border-hover: var(--border-brand-subtle);
    --radiobutton-outlined-checked-border-selected: var(--border-brand-bold);
    --radiobutton-outlined-checked-icon-disabled: var(--icon-subtlest);
    --radiobutton-outlined-checked-icon-enabled: var(--icon-brand-default);
    --radiobutton-outlined-checked-icon-focus: var(--icon-brand-subtle);
    --radiobutton-outlined-checked-icon-hover: var(--background-brand-contrast-subtle);
    --radiobutton-outlined-checked-icon-selected: var(--icon-brand-bold);
    --radiobutton-outlined-checked-text-disabled: var(--text-subtlest);
    --radiobutton-outlined-checked-text-enabled: var(--text-brand-default);
    --radiobutton-outlined-checked-text-focus: var(--text-brand-subtle);
    --radiobutton-outlined-checked-text-hover: var(--text-brand-subtle);
    --radiobutton-outlined-checked-text-selected: var(--text-brand-bold);
    --radiobutton-outlined-unchecked-focusoutline: var(--focus-outline);
    --radiobutton-outlined-unchecked-background-disabled: var(--background-subtlest);
    --radiobutton-outlined-unchecked-background-enabled: var(--background-default);
    --radiobutton-outlined-unchecked-background-focus: var(--background-default);
    --radiobutton-outlined-unchecked-background-hover: var(--background-default);
    --radiobutton-outlined-unchecked-background-selected: var(--background-default);
    --radiobutton-outlined-unchecked-border-disabled: var(--border-subtlest);
    --radiobutton-outlined-unchecked-border-enabled: var(--border-default);
    --radiobutton-outlined-unchecked-border-focus: var(--border-brand-bold);
    --radiobutton-outlined-unchecked-border-hover: var(--border-brand-subtle);
    --radiobutton-outlined-unchecked-border-selected: var(--border-brand-bold);
    --radiobutton-outlined-unchecked-icon-disabled: var(--icon-subtlest);
    --radiobutton-outlined-unchecked-icon-enabled: var(--icon-default);
    --radiobutton-outlined-unchecked-icon-focus: var(--icon-brand-subtle);
    --radiobutton-outlined-unchecked-icon-hover: var(--icon-brand-subtle);
    --radiobutton-outlined-unchecked-icon-selected: var(--icon-brand-bold);
    --radiobutton-outlined-unchecked-text-disabled: var(--text-subtlest);
    --radiobutton-outlined-unchecked-text-enabeld: var(--text-default);
    --radiobutton-outlined-unchecked-text-focus: var(--text-brand-subtle);
    --radiobutton-outlined-unchecked-text-hover: var(--text-brand-subtle);
    --radiobutton-outlined-unchecked-text-selected: var(--text-brand-bold);
    --radiobutton-solid-checked-focusoutline: var(--focus-outline);
    --radiobutton-solid-checked-background-disabled: var(--background-subtlest);
    --radiobutton-solid-checked-background-enabled: var(--background-brand-contrast-default);
    --radiobutton-solid-checked-background-focus: var(--background-brand-contrast-subtle);
    --radiobutton-solid-checked-background-hover: var(--background-brand-contrast-subtle);
    --radiobutton-solid-checked-background-selected: var(--background-brand-contrast-bold);
    --radiobutton-solid-checked-border-disabled: var(--border-subtlest);
    --radiobutton-solid-checked-border-enabled: var(--border-brand-default);
    --radiobutton-solid-checked-border-focus: var(--border-brand-bold);
    --radiobutton-solid-checked-border-hover: var(--border-brand-subtle);
    --radiobutton-solid-checked-border-selected: var(--border-brand-bold);
    --radiobutton-solid-checked-icon-disabled: var(--icon-subtlest);
    --radiobutton-solid-checked-icon-enabled: var(--icon-invert);
    --radiobutton-solid-checked-icon-focus: var(--icon-invert);
    --radiobutton-solid-checked-icon-hover: var(--icon-invert);
    --radiobutton-solid-checked-icon-selected: var(--icon-invert);
    --radiobutton-solid-checked-text-disabled: var(--text-subtlest);
    --radiobutton-solid-checked-text-enabled: var(--text-invert);
    --radiobutton-solid-checked-text-focus: var(--text-invert);
    --radiobutton-solid-checked-text-hover: var(--text-invert);
    --radiobutton-solid-checked-text-selected: var(--text-invert);
    --radiobutton-solid-unchecked-focusoutline: var(--focus-outline);
    --radiobutton-solid-unchecked-background-disabled: var(--background-subtlest);
    --radiobutton-solid-unchecked-background-enabled: var(--background-default);
    --radiobutton-solid-unchecked-background-focus: var(--background-default);
    --radiobutton-solid-unchecked-background-hover: var(--background-default);
    --radiobutton-solid-unchecked-background-selected: var(--background-default);
    --radiobutton-solid-unchecked-border-disabled: var(--border-subtlest);
    --radiobutton-solid-unchecked-border-enabled: var(--border-default);
    --radiobutton-solid-unchecked-border-focus: var(--border-brand-bold);
    --radiobutton-solid-unchecked-border-hover: var(--border-brand-subtle);
    --radiobutton-solid-unchecked-border-selected: var(--border-brand-bold);
    --radiobutton-solid-unchecked-icon-disabled: var(--icon-subtlest);
    --radiobutton-solid-unchecked-icon-enabled: var(--icon-default);
    --radiobutton-solid-unchecked-icon-focus: var(--icon-brand-subtle);
    --radiobutton-solid-unchecked-icon-hover: var(--icon-brand-subtle);
    --radiobutton-solid-unchecked-icon-selected: var(--icon-brand-bold);
    --radiobutton-solid-unchecked-text-disabled: var(--text-subtlest);
    --radiobutton-solid-unchecked-text-enabeld: var(--text-default);
    --radiobutton-solid-unchecked-text-focus: var(--text-brand-subtle);
    --radiobutton-solid-unchecked-text-hover: var(--text-brand-subtle);
    --radiobutton-solid-unchecked-text-selected: var(--text-brand-bold);
}
