.sy-theme{
    --tag-blue-background-disabled: var(--background-extended-darkgray-default);
    --tag-blue-background-enabled: var(--background-extended-blue-default);
    --tag-blue-background-hover: var(--background-extended-blue-default);
    --tag-blue-border-disabled: var(--border-extended-darkgray-default);
    --tag-blue-border-enabled: var(--border-extended-blue-default);
    --tag-blue-border-hover: var(--border-extended-blue-default);
    --tag-blue-icon-disabled: var(--icon-subtlest);
    --tag-blue-icon-enabled: var(--icon-extended-blue-bold);
    --tag-blue-icon-hover: var(--icon-extended-blue-bold);
    --tag-blue-text-disabled: var(--text-subtlest);
    --tag-blue-text-enabled: var(--text-extended-blue-default);
    --tag-blue-text-hover: var(--text-extended-blue-default);
    --tag-cyan-background-disabled: var(--background-extended-darkgray-default);
    --tag-cyan-background-enabled: var(--background-extended-teal-default);
    --tag-cyan-background-hover: var(--background-extended-teal-default);
    --tag-cyan-border-disabled: var(--border-extended-darkgray-default);
    --tag-cyan-border-enabled: var(--border-extended-teal-default);
    --tag-cyan-border-hover: var(--border-extended-teal-default);
    --tag-cyan-icon-disabled: var(--icon-subtlest);
    --tag-cyan-icon-enabled: var(--icon-extended-teal-bold);
    --tag-cyan-icon-hover: var(--icon-extended-teal-bold);
    --tag-cyan-text-disabled: var(--text-subtlest);
    --tag-cyan-text-enabled: var(--text-extended-teal-default);
    --tag-cyan-text-hover: var(--text-extended-teal-default);
    --tag-gray-background-disabled: var(--background-extended-darkgray-default);
    --tag-gray-background-readonly: var(--background-extended-darkgray-default);
    --tag-gray-background-enabled: var(--background-extended-darkgray-default);
    --tag-gray-background-hover: var(--background-extended-darkgray-default);
    --tag-gray-border-disabled: var(--border-extended-darkgray-default);
    --tag-gray-border-readonly: var(--border-extended-darkgray-default);
    --tag-gray-border-enabled: var(--border-extended-darkgray-default);
    --tag-gray-border-hover: var(--border-extended-darkgray-default);
    --tag-gray-icon-disabled: var(--icon-subtlest);
    --tag-gray-icon-readonly: var(--icon-subtlest);
    --tag-gray-icon-enabled: var(--icon-default);
    --tag-gray-icon-hover: var(--icon-default);
    --tag-gray-text-disabled: var(--text-subtlest);
    --tag-gray-text-readonly: var(--text-default);
    --tag-gray-text-enabled: var(--text-default);
    --tag-gray-text-hover: var(--text-default);
    --tag-green-background-disabled: var(--background-extended-darkgray-default);
    --tag-green-background-enabled: var(--background-extended-green-default);
    --tag-green-background-hover: var(--background-extended-green-default);
    --tag-green-border-disabled: var(--border-extended-darkgray-default);
    --tag-green-border-enabled: var(--border-extended-green-default);
    --tag-green-border-hover: var(--border-extended-green-default);
    --tag-green-icon-disabled: var(--icon-subtlest);
    --tag-green-icon-enabled: var(--icon-extended-green-bold);
    --tag-green-icon-hover: var(--icon-extended-green-bold);
    --tag-green-text-disabled: var(--text-subtlest);
    --tag-green-text-enabled: var(--text-extended-green-default);
    --tag-green-text-hover: var(--text-extended-green-default);
    --tag-orange-background-disabled: var(--background-extended-darkgray-default);
    --tag-orange-background-enabled: var(--background-extended-orange-default);
    --tag-orange-background-hover: var(--background-extended-orange-default);
    --tag-orange-border-disabled: var(--border-extended-darkgray-default);
    --tag-orange-border-enabled: var(--border-extended-orange-default);
    --tag-orange-border-hover: var(--border-extended-orange-default);
    --tag-orange-icon-disabled: var(--icon-subtlest);
    --tag-orange-icon-enabled: var(--icon-extended-orange-bold);
    --tag-orange-icon-hover: var(--icon-extended-orange-bold);
    --tag-orange-text-disabled: var(--text-subtlest);
    --tag-orange-text-enabled: var(--text-extended-orange-default);
    --tag-orange-text-hover: var(--text-extended-orange-default);
    --tag-purple-background-disabled: var(--background-extended-darkgray-default);
    --tag-purple-background-enabled: var(--background-extended-purple-default);
    --tag-purple-background-hover: var(--background-extended-purple-default);
    --tag-purple-border-disabled: var(--border-extended-darkgray-default);
    --tag-purple-border-enabled: var(--border-extended-purple-default);
    --tag-purple-border-hover: var(--border-extended-purple-default);
    --tag-purple-icon-disabled: var(--icon-subtlest);
    --tag-purple-icon-enabled: var(--icon-brand-default);
    --tag-purple-icon-hover: var(--icon-brand-default);
    --tag-purple-text-disabled: var(--text-subtlest);
    --tag-purple-text-enabled: var(--text-brand-default);
    --tag-purple-text-hover: var(--text-brand-default);
    --tag-red-background-disabled: var(--background-extended-darkgray-default);
    --tag-red-background-enabled: var(--background-extended-red-default);
    --tag-red-background-hover: var(--background-extended-red-default);
    --tag-red-border-disabled: var(--border-extended-darkgray-default);
    --tag-red-border-enabled: var(--border-extended-red-default);
    --tag-red-border-hover: var(--border-extended-red-default);
    --tag-red-icon-disabled: var(--icon-subtlest);
    --tag-red-icon-enabled: var(--icon-extended-red-bold);
    --tag-red-icon-hover: var(--icon-extended-red-bold);
    --tag-red-text-disabled: var(--text-subtlest);
    --tag-red-text-enabled: var(--text-extended-red-default);
    --tag-red-text-hover: var(--text-extended-red-default);
    --tag-removable-icon-disabled: var(--icon-subtlest);
    --tag-removable-icon-enabled: var(--icon-subtler);
    --tag-removable-icon-hover: var(--icon-default);
    --tag-selectable-selected-background-enabled: var(--background-brand-default);
    --tag-selectable-selected-border-enabled: var(--border-extended-purple-default);
    --tag-selectable-selected-icon-enabled: var(--icon-extended-purple-default);
    --tag-selectable-selected-text-enabled: var(--text-brand-default);
    --tag-selectable-unselected-background-enabled: var(--background-default);
    --tag-selectable-unselected-background-hover: var(--background-default);
    --tag-selectable-unselected-border-enabled: var(--border-default);
    --tag-selectable-unselected-border-hover: var(--border-default);
    --tag-selectable-unselected-icon-enabled: var(--icon-default);
    --tag-selectable-unselected-icon-hover: var(--icon-brand-default);
    --tag-selectable-unselected-text-enabled: var(--text-default);
    --tag-selectable-unselected-text-hover: var(--text-brand-default);
    --tag-yellow-background-disabled: var(--background-extended-darkgray-default);
    --tag-yellow-background-enabled: var(--background-extended-yellow-default);
    --tag-yellow-background-hover: var(--background-extended-yellow-default);
    --tag-yellow-border-disabled: var(--border-extended-darkgray-default);
    --tag-yellow-border-enabled: var(--border-extended-yellow-default);
    --tag-yellow-border-hover: var(--border-extended-yellow-default);
    --tag-yellow-icon-disabled: var(--icon-subtlest);
    --tag-yellow-icon-enabled: var(--icon-extended-yellow-bold);
    --tag-yellow-icon-hover: var(--icon-extended-yellow-bold);
    --tag-yellow-text-disabled: var(--text-subtlest);
    --tag-yellow-text-enabled: var(--text-extended-yellow-default);
    --tag-yellow-text-hover: var(--text-extended-yellow-default);
}
