.sy-theme{
    --tree-focusoutline: var(--border-brand-bold);
    --tree-caret-icon-enabled: var(--icon-default);
    --tree-draggable-icon-enabled: var(--icon-subtlest);
    --tree-item-background-hover: var(--background-bold);
    --tree-item-background-loading: var(--background-default);
    --tree-item-background-selected: var(--background-brand-default);
    --tree-item-icon-disabled: var(--icon-subtlest);
    --tree-item-icon-enabled: var(--icon-default);
    --tree-item-icon-focus: var(--icon-default);
    --tree-item-icon-hover: var(--icon-default);
    --tree-item-icon-loading: var(--icon-default);
    --tree-item-icon-selected: var(--icon-default);
    --tree-item-text-disabled: var(--text-subtlest);
    --tree-item-text-enabled: var(--text-default);
    --tree-item-text-focus: var(--text-default);
    --tree-item-text-hover: var(--text-default);
    --tree-item-text-loading: var(--text-default);
    --tree-item-text-selected: var(--text-default);
    --tree-line-border-enabled: var(--border-subtlest);
    --tree-loading-icon-enabled: var(--icon-brand-default);
}
