:host {
	display: table;
	position: absolute;
	background-color: var(--date-time-picker-calendar-container-body-background-enabled);
	width: auto;
	height: auto;
	margin: auto;
	overflow: hidden; /* 내용이 넘칠 경우 숨김 처리 */
	border: 1px solid var(--date-time-picker-calendar-container-body-border-enabled); /* 경계선 스타일 설정, 필요에 따라 수정 */
	box-shadow: var(--box-shadow); /* 그림자 효과, 필요에 따라 수정 */
	z-index: var(--z-index-800);
	background-color: var(--date-time-picker-calendar-container-body-background-enabled);
}

.calendar {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	z-index: var(--z-index-900);   
	box-sizing: border-box;
}