.sy-theme{
    --dropdown-borderless-border-focused: var(--border-brand-bold);
    --dropdown-borderless-icon-active: var(--icon-brand-bold);
    --dropdown-borderless-icon-disabled: var(--icon-subtlest);
    --dropdown-borderless-icon-enabled: var(--icon-default);
    --dropdown-borderless-icon-focused: var(--icon-brand-subtle);
    --dropdown-borderless-icon-hover: var(--icon-brand-subtle);
    --dropdown-borderless-text-active: var(--text-brand-bold);
    --dropdown-borderless-text-disabled: var(--text-subtlest);
    --dropdown-borderless-text-enabled: var(--text-default);
    --dropdown-borderless-text-focused: var(--text-brand-subtle);
    --dropdown-borderless-text-hover: var(--text-brand-subtle);
    --dropdown-default-background-active: var(--background-default);
    --dropdown-default-background-disabled: var(--background-subtlest);
    --dropdown-default-background-enabled: var(--background-default);
    --dropdown-default-background-focused: var(--background-default);
    --dropdown-default-background-hover: var(--background-default);
    --dropdown-default-border-active: var(--border-brand-bold);
    --dropdown-default-border-disabled: var(--border-subtlest);
    --dropdown-default-border-enabled: var(--border-default);
    --dropdown-default-border-focused: var(--border-brand-bold);
    --dropdown-default-border-hover: var(--border-brand-subtle);
    --dropdown-default-icon-active: var(--icon-brand-bold);
    --dropdown-default-icon-disabled: var(--icon-subtlest);
    --dropdown-default-icon-enabled: var(--icon-default);
    --dropdown-default-icon-focused: var(--icon-brand-subtle);
    --dropdown-default-icon-hover: var(--icon-brand-subtle);
    --dropdown-default-text-active: var(--text-brand-bold);
    --dropdown-default-text-disabled: var(--text-subtlest);
    --dropdown-default-text-enabled: var(--text-default);
    --dropdown-default-text-focused: var(--text-brand-subtle);
    --dropdown-default-text-hover: var(--text-brand-subtle);
}
