.sy-theme{
  --input-form-clearable-background-enabled: var(--background-default);
  --input-form-clearable-border-enabled: var(--border-default);
  --input-form-clearable-icon-enabled: var(--icon-subtlest);
  --input-form-clearable-icon-hover: var(--icon-subtler);
  --input-form-clearable-text-enabled: var(--text-default);
  --input-form-cursor-icon-enabled: var(--icon-bold);
  --input-form-field-background-disabled: var(--background-subtlest);
  --input-form-field-background-enabled: var(--background-default);
  --input-form-field-background-error: var(--background-default);
  --input-form-field-background-focus: var(--background-default);
  --input-form-field-background-hover: var(--background-default);
  --input-form-field-background-invaild: var(--background-default);
  --input-form-field-background-readonly: var(--background-subtlest);
  --input-form-field-background-success: var(--background-default);
  --input-form-field-background-vaild: var(--background-default);
  --input-form-field-background-warning: var(--background-default);
  --input-form-field-border-disabled: var(--border-subtlest);
  --input-form-field-border-enabled: var(--border-default);
  --input-form-field-border-error: var(--border-extended-red-bold);
  --input-form-field-border-focus: var(--border-brand-bold);
  --input-form-field-border-hover: var(--border-brand-default);
  --input-form-field-border-invaild: var(--border-extended-red-bold);
  --input-form-field-border-readonly: var(--border-subtlest);
  --input-form-field-border-success: var(--border-extended-green-bold);
  --input-form-field-border-vaild: var(--border-extended-green-bold);
  --input-form-field-border-warning: var(--border-extended-yellow-bold);
  --input-form-field-icon-borderless: var(--icon-default);
  --input-form-field-icon-clearable: var(--icon-default);
  --input-form-field-icon-disabled: var(--icon-subtlest);
  --input-form-field-icon-enabled: var(--icon-default);
  --input-form-field-icon-error: var(--icon-default);
  --input-form-field-icon-focus: var(--icon-default);
  --input-form-field-icon-hover: var(--icon-default);
  --input-form-field-icon-invaild: var(--icon-default);
  --input-form-field-icon-placeholder: var(--icon-default);
  --input-form-field-icon-readonly: var(--icon-default);
  --input-form-field-icon-success: var(--icon-default);
  --input-form-field-icon-vaild: var(--icon-default);
  --input-form-field-icon-warning: var(--icon-default);
  --input-form-field-text-disabled: var(--text-subtlest);
  --input-form-field-text-enabled: var(--text-default);
  --input-form-field-text-error: var(--text-default);
  --input-form-field-text-focus: var(--text-default);
  --input-form-field-text-hover: var(--text-default);
  --input-form-field-text-invaild: var(--text-default);
  --input-form-field-text-readonly: var(--text-default);
  --input-form-field-text-success: var(--text-default);
  --input-form-field-text-vaild: var(--text-default);
  --input-form-field-text-warning: var(--text-default);
  --input-form-message-text-enabled: var(--text-subtler);
  --input-form-message-text-invaild: var(--text-extended-red-default);
  --input-form-message-text-vaild: var(--text-extended-green-default);
  --input-form-placeholder-background-enabled: var(--background-default);
  --input-form-placeholder-border-enabled: var(--border-default);
  --input-form-placeholder-icon-enabled: var(--icon-default);
  --input-form-placeholder-icon-hover: var(--icon-subtler);
  --input-form-placeholder-text-enabled: var(--text-subtlest);
  --input-label-required-disabled: var(--text-error);
  --input-label-required-enabled: var(--text-error);
  --input-label-title-disabled: var(--text-subtler);
  --input-label-title-enabled: var(--text-default);
}