.sy-theme{
    --tabs-card-add-background-enabled: var(--background-bold);
    --tabs-card-add-background-hover: var(--background-bold);
    --tabs-card-add-border-enabled: var(--border-extended-lightgray-default);
    --tabs-card-add-border-hover: var(--border-extended-lightgray-default);
    --tabs-card-add-icon-enabled: var(--icon-default);
    --tabs-card-add-icon-hover: var(--icon-brand-default);
    --tabs-card-closable-icon-disabled: var(--icon-subtlest);
    --tabs-card-closable-icon-enabled: var(--icon-subtler);
    --tabs-card-closable-icon-hover: var(--icon-default);
    --tabs-card-closable-icon-selected: var(--icon-subtler);
    --tabs-card-list-background-disabled: var(--background-bold);
    --tabs-card-list-background-enabled: var(--background-bold);
    --tabs-card-list-background-hover: var(--background-bold);
    --tabs-card-list-background-selected: var(--background-default);
    --tabs-card-list-border-disabled: var(--border-extended-lightgray-default);
    --tabs-card-list-border-enabeld: var(--border-extended-lightgray-default);
    --tabs-card-list-border-hover: var(--border-extended-lightgray-default);
    --tabs-card-list-border-selected: var(--border-extended-lightgray-default);
    --tabs-card-list-icon-disabled: var(--icon-subtlest);
    --tabs-card-list-icon-enabled: var(--icon-default);
    --tabs-card-list-icon-hover: var(--icon-brand-default);
    --tabs-card-list-icon-selected: var(--icon-brand-default);
    --tabs-card-list-text-disabled: var(--text-subtlest);
    --tabs-card-list-text-enabled: var(--text-default);
    --tabs-card-list-text-hover: var(--text-brand-default);
    --tabs-card-list-text-selected: var(--text-brand-default);
    --tabs-card-panel-text-enabled: var(--text-default);
    --tabs-card-shadow-border-enabled: var(--border-extended-lightgray-default);
    --tabs-line-closable-icon-disabled: var(--icon-subtlest);
    --tabs-line-closable-icon-enabled: var(--icon-subtler);
    --tabs-line-closable-icon-hover: var(--icon-default);
    --tabs-line-closable-icon-selected: var(--icon-subtler);
    --tabs-line-list-border-selected: var(--border-brand-default);
    --tabs-line-list-icon-disabled: var(--icon-subtlest);
    --tabs-line-list-icon-enabled: var(--icon-default);
    --tabs-line-list-icon-hover: var(--icon-brand-default);
    --tabs-line-list-icon-selected: var(--icon-brand-default);
    --tabs-line-list-text-disabled: var(--text-subtlest);
    --tabs-line-list-text-enabled: var(--text-default);
    --tabs-line-list-text-hover: var(--text-brand-default);
    --tabs-line-list-text-selected: var(--text-brand-default);
    --tabs-line-panel-text-enabled: var(--text-default);
    --tabs-line-shadow-border-enabled: var(--border-subtlest);
    --tabs-overflow-background-enabled: var(--background-default);
    --tabs-overflow-icon-enabled: var(--icon-default);
}
