    body.sb-show-main:before {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 105px;
      background-color: transparent;
      background-size: contain;
      background-repeat: repeat;
      display: block;
    }

    body.sb-show-main:after {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      top: 101px;
    }


