
:host {
  display: none;
  position: absolute; 
  border-radius: var(--border-radius-small);    
  z-index: var(--z-index-tooltip);
  padding: var(--spacing-2xsmall) var(--spacing-xsmall);
  background-color: var(--tooltip-background-enabled);    
}

.tooltip-content {       
  word-break: keep-all;
  overflow-wrap: anywhere;
  max-width: var(--tooltip-maxWidth);
  color: var(--tooltip-text-enabled);
  box-sizing: border-box;
}