:host,
:root {
    display: block;
    margin: var(--spacing-xsmall) 0;

    .group-title {
        display: inline-flex;
        align-items: center;
        white-space: nowrap;
        padding-left: var(--spacing-xsmall);
        padding-right: var(--spacing-xsmall);
        height: var(--component-medium);
        background-color: var(--menu-dropdownmenu-background-enabled);
        color: var(--menu-grouptitle-text-enabled);
        cursor: auto;
        gap: var(--spacing-3xsmall);
    }

    .group-content {
        padding: 0px;
    }
}

:host(sy-menu-group) {
    margin: 0px;
    padding: 0px;
}