@use "../../assets/style/global/font"as font;

:host,
:root {
    display: block;

    li {
        cursor: pointer;
        padding: var(--spacing-3xsmall) var(--spacing-xsmall);
        color: var(--menu-menuitem-default-text-enabled);
        background-color: var(--menu-dropdownmenu-background-enabled);
        text-overflow: ellipsis;
        display: flex;
        display: flex;
        align-items: center;
        gap: var(--spacing-3xsmall);

        &:hover {
            background-color: var(--menu-menuitem-default-background-hover);
        }

        &:active {
            color: var(--menu-menuitem-default-text-active);
        }           
        
        &.active {
            background-color: var(--menu-menuitem-default-background-active);
        }

        &.menu-item--selected {
            background-color: var(--menu-menuitem-default-background-selected);
            @include font.text-style-base-medium;
        }

        &[disabled] {
            cursor: auto;
            color: var(--menu-menuitem-default-text-disabled);

            &:hover {
                background-color: var(--menu-dropdownmenu-background-enabled);
            }
        }
    }

}