@use "../../../style/global/font"as font;

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-subtler);
  padding-right: var(--spacing-small);
  height: 3rem; 
  box-sizing: border-box;
  width: 100%;
  overflow: hidden; 
  height:var(--header-medium);
  background-color: var(--globalheader-default-container-background-enabled);
  border-bottom: 1px solid var(--globalheader-default-container-border-enabled);
}

:host([sticky]) {
  position: sticky;
  top: 0;
  z-index: 1000; 
  box-shadow: var(--header-shadow);
}

.header-title {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding-right: var(--spacing-medium);
  .logo{
    display: flex;
    align-items: center;
    content: "";
    width: 100px;
    height: 44px;    
    background-repeat : no-repeat;
    background-position : center;
    background-size : contain;
  }  
  .appname {
    height:24px;
    align-items: center;
    white-space: nowrap;
    color: var(--globalheader-default-title-text-enabled);
    @include font.text-style-large-medium;
    display: flex;
    &:before{
      content: "";
      width: 1px;
      display: flex;
      align-self: center;
      padding-left: var(--spacing-small);
      height:18px;
      border-left:1px solid var(--globalheader-default-divider-border-enabled);
    }
  }  
}

/* Container for tabs slot slide */
.header-tab {
  display: flex;
  align-items: center;
  flex-grow: 1; 
  overflow: hidden; 
  min-width: 0; 
}

/* Default slot styling (when not sliding) */
::slotted([slot="tabs"]) {
  display: flex;
  flex-grow: 1;
  overflow: hidden; 
  align-items: center; 
}

/* Styling for individual tabs slotted directly (ellipsis mode) */
.header-tab > ::slotted(sy-tab) {
   color: inherit; 
   flex-shrink: 0;
}


/* Ellipsis Mode Styles */
 .tab-more {
   display: inline-flex;
   align-items: center;
   vertical-align: middle;
   flex-shrink: 0;
   cursor: pointer;
 }

 
/* End Ellipsis Mode Styles */

.header-tab-more{
  display: flex;
  align-items: center;
}
.header-end {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  sy-input{
    margin-right:var(--spacing-3xsmall);
  }
}
::slotted([slot="actions"]) {
  display: flex;
  align-items: center;
}
