    @use "../../../style/global/font" as font;


    :host {
      display: inline-block;
      width: 100%;

      /* Button spacing */
      --input-spacing-large: var(--spacing-small);
      --input-spacing-medium: var(--spacing-xsmall);
      --input-spacing-small: var(--spacing-2xsmall);

      input::placeholder {
        color: var(--input-form-placeholder-text-enabled);
      }

      input::-webkit-input-placeholder {
        color: var(--input-form-placeholder-text-enabled);
      }

      input:-ms-input-placeholder {
        color: var(--input-form-placeholder-text-enabled);
      }

      /* Input item */
      .input--item {
        display: flex;
        width: 100%;
        align-items: baseline;
        gap: var(--spacing-xsmall);

        .input--label {
          white-space: nowrap;
        }

        .input {
          display: flex;
          width: auto;

          &--small {
            padding: 0 var(--spacing-2xsmall);
            gap: var(--spacing-3xsmall);

            input {
              @include font.text-style-small-regular;
            }
          }

          &--medium {
            padding: 0 var(--spacing-xsmall);
            gap: var(--spacing-3xsmall);

            input {
              @include font.text-style-base-regular;
            }
          }

          &--large {
            padding: 0 var(--spacing-small);
            gap: var(--spacing-2xsmall);

            input {
              @include font.text-style-large-regular;
            }
          }

          button {
            padding: 0px;
          }
        }

        &.input--item-vertical {
          display: block;
        }

        .input--clear {
          cursor: pointer;
          color: var(--input-form-clearable-icon-enabled);
          position: absolute;
          right: var(--spacing-xsmall);
          z-index: 1;
          background: var(--background-default);

          &:hover {
            color: var(--input-form-clearable-icon-hover);
          }
        }
      }

      /* Input wrapper */
      .input {
        flex: 1;
        width: -webkit-fill-available;
        height: var(--component-medium);
        padding: 0 var(--spacing-medium);
        border: var(--border-small) var(--input-form-field-border-enabled);
        color: var(--input-form-field-text-enabled);
        background-color: var(--input-form-field-background-enabled);
        border-radius: var(--border-radius-medium);
        /* Add padding to accommodate prefix */
        box-sizing: border-box;
        @include font.text-style-base-regular;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.input--valid {
          border: var(--border-small) var(--input-form-field-border-vaild);

          &.input--borderless {
            border: var(--border-small) var(--input-form-field-border-vaild) !important;
          }

          &:focus-visible,
          &.input--focused {
            border: var(--border-small) var(--input-form-field-border-vaild) !important;
            outline: var(--border-small) var(--focus-outline) !important;
          }

        }

        &.input--invalid {
          border: var(--border-small) var(--input-form-field-border-invaild);

          &.input--borderless {
            border: var(--border-small) var(--input-form-field-border-invaild) !important;
          }

          &:focus-visible,
          &.input--focused {
            border: var(--border-small) var(--input-form-field-border-invaild) !important;
            outline: var(--border-small) var(--focus-outline) !important;
          }
        }

        .prefix-custom-icon,
        .suffix-custom-icon {
          color: var(--input-form-field-icon-enabled);
        }

        .input-password-toggle,
        .search-icon {
          cursor: pointer;
        }

        &:hover {
          color: var(--input-form-field-text-hover);
          border: var(--border-small) var(--input-form-field-border-hover);
          background-color: var(--input-form-field-background-hover);
        }

        &.input--large {
          height: var(-component-large);
          @include font.text-style-large-regular;
          height: 40px;

          .input--clear {
            right: 12px;
          }
        }

        &.input--small {
          height: var(--component-small);
          @include font.text-style-small-regular;
          border-radius: var(--border-radius-small);

          .input--clear {
            right: 5px;
          }
        }

        &.input--focused {
          border: var(--border-small) var(--focus-outline);
          outline: var(--border-small) var(--focus-outline);
        }

        &.input--disabled {
          color: var(--input-form-field-text-disabled);
          background-color: var(--input-form-field-background-disabled);
          border: var(--border-small) var(--input-form-field-border-disabled);
          /* Adjust opacity for disabled state */
          cursor: auto;

          input {
            color: var(--input-form-field-text-disabled);
            background-color: transparent;
            cursor: auto;
          }

          /* Change cursor style */
          .prefix-custom-icon,
          .suffix-custom-icon {
            color: var(--input-form-field-icon-disabled);
          }

          .input-password-toggle,
          .search-icon {
            cursor: auto;
          }
        }

        &.input--borderless {
          border: var(--border-small) transparent;
          background-color: transparent;
          outline: none;
          box-sizing: border-box;

          input {
            background-color: transparent;
          }
        }

        &.input--readonly {
          color: var(--input-form-field-text-readonly);
          background-color: var(--input-form-field-background-readonly);
          border: var(--border-small) var(--input-form-field-border-readonly);
          outline: none;
          /* Adjust opacity for disabled state */
          cursor: auto;

          /* Change cursor style */
          input {
            background: transparent !important;
            cursor: text;
          }

          &.input--borderless {
            border: var(--border-small) transparent;
            background-color: transparent;
            outline: none;

            input {
              background-color: transparent;
            }
          }
        }

        &:focus-visible {
          border: var(--border-small) var(--focus-outline);
          outline: var(--border-small) var(--focus-outline);
        }

        /* Input textarea */
        input {
          flex: 1;
          width:100%;
          border: var(--border-small) transparent;
          outline: none;
          height: calc(100% - var(--spacing-small));
          background: none;
          color: var(--input-form-field-text-enabled);
          text-overflow: ellipsis;

          &:focus-visible {
            border: var(--border-small) transparent;
            box-shadow: none;
            outline-offset: 0px;
            outline: none;
          }
        }

        &[type="number"] {
          padding-right: 30px;
        }

        &[type="number"]::-webkit-inner-spin-button {
          opacity: 1 !important;
          background: transparent !important;
          border-width: 0px;
          margin: 0;
          height: 34px;
          width: 23px;
          cursor: pointer;
          display: inline-block;
          content: "";
        }

        i {
          color: var(--input-form-field-icon-enabled);
        }


        &.input--error {
          border: var(--border-small) var(--input-form-field-border-error);
        }

        &.input--warning {
          border: var(--border-small) var(--input-form-field-border-warning);
        }

        &.input--success {
          border: var(--border-small) var(--input-form-field-border-success);
        }
      }

      .input-control {
        font-size: inherit;
        font-weight: inherit;
      }

      button {
        background: none;
        border: none;
      }

      img,
      .prefix-custom-icon,
      .suffix-custom-icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 1rem;
        transition: 150ms color;
      }

      // remove default clear button incase of type="search"
      // compatable with chrome,edge,and firefox
      input::-webkit-search-decoration,
      input::-webkit-search-cancel-button,
      input::-webkit-search-results-button,
      input::-webkit-search-results-decoration {
        opacity: 0;
        pointer-events: none
      }

      .error-container {
        color: var(--required);
        display: none;

        &.visible-error {
          display: flex;
        }
      }
    }

    :host(sy-input[required]) {
      .required {
        @include font.text-style-small-regular;
        color: var(--input-label-required-enabled);
      }
    }

    :host(sy-input[disabled]) {
      .input--label {
        color: var(--input-form-field-text-disabled);
      }
    }

    :host(sy-input[clearable]) {
      .required {
        @include font.text-style-small-regular;
        color: var(--input-label-required-enabled);
      }
    }


    /* Input in Form */
    .input-wrapper {
      position: relative;
      width: 100%;
    }

    .input {
      width: 100%;
    }

    .error-container {
      color: var(--required);
      font-size: 0.85rem;
      margin-top: 4px;

    }

    .popup-error-container {
      /* .input-wrapper를 기준으로 절대 위치를 잡음 */
      position: absolute;
      top: 0;
      /* .input-wrapper의 상단에 붙임 */
      left: 0;
      width: 100%;
      height: 100%;
      margin-top: 0;
      pointer-events: none;
      display: block;
    }

    /* 팝업 컴포넌트 자체는 이벤트를 받을 수 있도록 재설정 */
    .popup-error-container> ::slotted(*) {
      pointer-events: auto;
      display: block;
      width: 100%;
      height: 100%;
    }

    :host(sy-input[size="small"]) {
      .input--label {
        display: flex;
        align-items: center;
        height: var(--component-small);
      }
    }

    :host(sy-input[size="medium"]) {
      .input--label {
        display: flex;
        align-items: center;
        height: var(--component-medium);
      }
    }

    :host(sy-input[size="large"]) {
      .input--label {
        display: flex;
        align-items: center;
        height: var(--component-large);
      }
    }