/* sy-radio.css */
:host {
    /* Toggle size */
    --radio-size-large: 18px;
    --radio-size-medium: 16px;
    --radio-size-small: 14px;

    display: inline-block;
}

:host(sy-radio) {
    display: inline-flex;
    align-items: center;
}

/* Readonly & disabled */
:host([readonly]),
:host([disabled]) {
    filter: grayscale(100%);
    cursor: auto;

    input:checked~.radio-checkmark {
        background-color: var(--radio-solid-background-readonly);
        border: var(--border-small) var(--radio-solid-border-readonly);

        &:after {
            background-color: var(--radio-solid-icon-readonly);
        }
    }

    input~.radio-checkmark {
        background-color: var(--radio-default-background-disabled);
        border: var(--border-small) var(--radio-default-border-readonly);

        &:after {
            background-color: var(--radio-default-icon-readonly);
        }

        &:focus,
        &:focus-visible {
            border: var(--border-small) var(--radio-solid-border-readonly) !important;
            outline: var(--border-small) transparent;
        }
    }
}

:host([disabled]) {
    color: var(--radio-solid-text-disabled);
}

/* Hidden radio input */
:host label {
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: var(--cursor-button);
    white-space: nowrap;
}

:host input {
    position: absolute;
    opacity: 0;
    height: var(--radio-size-medium);
    width: var(--radio-size-medium);
    opacity: 0;
    top: 3px;
    left: 0px;
    margin: 0px;
    cursor: var(--cursor-button);
}



/* Custom radio button design */
:host .radio-checkmark {
    top: 0;
    left: 0;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-right: var(--spacing-3xsmall);
    height: var(--radio-size-medium);
    width: var(--radio-size-medium);
    background-color: var(--radio-default-background);
    border-radius: var(--border-radius-full);
    border: var(--radio-default-border-enabled);
    cursor: var(--cursor-button);
    border-color: var(--radio-default-border-enabled);
    border-style: solid;
    border-width: 1px;

    // transition: all .3s;
    &:hover {
        background-color: var(--radio-default-background);
        border: var(--border-small) var(--radio-default-border-hover);
    }

    &:focus-visible,
    &:focus {
        border: var(--border-small) var(--radio-default-border-focus) !important;
        outline: var(--border-small) var(--radio-default-border-focus);
    }
}

/* Mouse hover checkmark style */
:host:hover input~.radio-checkmark {
    background-color: #ccc;
}

/* Checked mark when selected radio button */
:host input:checked~.radio-checkmark {
    background-color: var(--radio-default-background);
    border: var(--border-small) var(--radio-solid-border-enabled);
}

/* checkmark style */
:host .radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
    width: calc(var(--radio-size-medium) / 2 + 2px);
    height: calc(var(--radio-size-medium) / 2 + 2px);
    border-radius: 50%;
    box-sizing: border-box;
    background: var(--radio-solid-icon);
}

/* Radio icon when selected radio button */
:host input:checked~.radio-checkmark:after {
    display: block;
}