/* sy-radio-group.css */
:host(sy-radio-group) {
    display: inline-flex;
    align-items: center;
    position: relative;

    .radio-group-container {
        position: relative;

        /* 에러 컨테이너 스타일 추가 */
        .error-container {
            display: none;
            /* 기본적으로 숨김 */
            width: 100%;
            margin-top: var(--spacing-3xsmall);
            box-sizing: border-box;
        }

        /* 에러가 popup형태인 경우 오버레이 스타일 - 위치 조정 */
        .popup-error-container {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            margin-top: 0;
            z-index: 1;
            pointer-events: none;
        }

        /* 슬롯 내용물이 이벤트를 받을 수 있도록 */
        .error-message ::slotted(*) {
            pointer-events: auto;
        }

        /* 특수 컴포넌트만 오버레이 스타일 적용 */
        .popup-error-container ::slotted(*) {
            width: 100%;
        }

        /* 숨김 에러 스타일 */
        .visible-error {
            display: block;
        }
    }

    fieldset {
        width: 100%;
        padding: 0px;
        border: var(--border-small) none;
        margin: 0px;
        display: flex;

        &.radio-group-position-horizontal {
            slot {
                display: flex;
                flex-direction: row;
            }
        }

        &.radio-group-position-vertical {
            slot {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .error-container {
        color: var(--required);
    }
}

:host(sy-radio-group[position="horizontal"]) {
    fieldset {
        &.radio-group-position-horizontal {
            slot {
                gap: var(--spacing-xsmall);
            }
        }
    }
}

:host(sy-radio-group[position="vertical"]) {
    fieldset {
        &.radio-group-position-horizontal {
            slot {
                gap: var(--spacing-3xsmall);
            }
        }
    }
}